.root {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, unset, 54, 54;
	@mixin responsive padding-block-end, 32, 40, 40;

	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2.6rem;
		row-gap: 8.533rem; /* 32px */
	}

	@media (min-width: 900px) and (max-width: 1023px) {
		gap: 1.5rem;
	}

	@media (min-width: 1024px) and (max-width: 1300px) {
		gap: 2.7rem;
	}
}

.title {
	@mixin font-h6;
	font-weight: 600 !important;
	justify-content: flex-start;
	@mixin responsive margin-block-end, 24, 24, 24;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	@mixin responsive max-width, 175, 175, 175;

	@mixin responsive gap, 16, 16, 16;
}

.listItem {
	color: var(--gray-700-color) !important;
	font-weight: 400 !important;
	transition-property: background-color color;

	@media (hover: hover) {
		&:hover {
			background-color: transparent;
			color: var(--red-600-color) !important;
		}
	}
}

@media (max-width: 767px) {
	.column:nth-child(3) {
		order: 1;
	}
}
