.root,
.content {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: start;
	}
}

.root {
	width: 100%;
	justify-content: space-between;
	padding: 1.5rem;
	background-color: #2c2c2c;
	border-radius: 1.5rem;

	@media (max-width: 991px) {
		flex-direction: column;
		gap: 1.5rem;
	}
}

.content {
	gap: 3rem;

	@media (max-width: 767px) {
		gap: 1.5rem;
	}
}

.linkButton {
	width: 8.75rem;
	height: 3.5rem;

	@media (max-width: 991px) {
		width: 100%;
		margin-block-start: 1.5rem;
	}
}
