.root,
.content {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.root {
	width: 100%;
	justify-content: space-between;
	padding: 1.5rem; /* 24px */
	background-color: #2c2c2c;
	border-radius: 1.5rem; /* 24px */
}

.content {
	gap: 3rem; /* 48px */

	@media (max-width: 767px) {
		gap: 1.5rem; /* 24px */
	}
}

.percentData {
	display: flex;
	align-items: center;
	gap: 0.75rem; /* 12px */
}

.percent {
	line-height: 0.95;
	font-size: 3rem; /* 48px */
	color: #34ca2f;
}

.percentText {
	@mixin font-text16;

	color: gray;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 0.375rem; /* 6px */

	@media (max-width: 767px) {
		align-items: center;
	}
}

.title {
	@mixin font-text20;

	display: flex;
	color: white;
	gap: 0.5rem; /* 8px */
}

.description {
	@mixin font-text16;

	color: gray;
}

.linkButton {
	width: 8.75rem; /* 140px */
	height: 3.5rem; /* 56px */

	@media (max-width: 767px) {
		margin-block-start: 1.5rem; /* 24px */
	}
}

.circle {
	width: 0.75rem; /* 12px */
	height: 0.75rem; /* 12px */
	border-radius: 100%;
	background-color: gray;
	margin-block: 0.438rem; /* 7px */

	&.filled {
		background-color: white;
	}
}
