.root,
.content {
	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: start;
	}
}

.root {
	@mixin res padding-block, 6.4rem, 1.667rem, 1.5rem; /* 24px */
	@mixin res padding-inline, 8.533rem, 2.222rem, 2rem; /* 32px */

	width: 100%;
	justify-content: space-between;
	background-color: #2c2c2c;
	border-radius: 1.5rem;
}

.content {
	@mixin res gap, 3rem, 3.333rem, 3rem;
}

.linkButton {
	@mixin res width, 100%, 9.722rem, 8.75rem;

	@media (max-width: 767px) {
		margin-block-start: 3rem;
	}
}
