.hero {
	@mixin responsive gap, 32, 64, 64;

	display: flex;
	flex-direction: column;
}

.experts:has(h2) {
	@mixin responsive padding-block-start, 40, 48, 48;
	@mixin responsive padding-block-end, 40, 48, 48;
}

.experience {
	padding-block: unset;
}

.managementSection {
	@mixin responsive padding-block, 30, 48, 48;
}

.management:has(li) {
	grid-template-columns: repeat(3, 1fr) !important;

	@media (max-width: 767px) {
		display: flex !important;
		flex-direction: column;
	}
}

.accorion {
	margin-block-end: 12px;
}

.review:has(article) {
	@mixin responsive margin-block-end, 30, 72, 72;
}

.documents:has(h2) {
	@mixin responsive padding-block-start, 30, 48, 48;
}
