.hero {
	@mixin responsive gap, 32, 64, 64;

	display: flex;
	flex-direction: column;
}

.experts {
	@mixin responsive padding-block-start, 40, 72, 72;
	@mixin responsive padding-block-end, 40, 36, 36;
}

.experience {
	padding-block: unset;
}

.managementSection {
	@mixin responsive padding-block, 30, 36, 36;
}

.management:has(li) {
	grid-template-columns: repeat(3, 1fr) !important;

	@media (max-width: 767px) {
		display: flex !important;
		flex-direction: column;
	}
}

.accorion {
	margin-block-end: 12px;
}
