.root {
	@mixin responsive padding-block, 30, 72, 72;
}

.title {
	@mixin responsive max-width, 320, 640, 640;
	@mixin font-h2;
	@mixin responsive padding-block-end, 20, 40, 40;

	font-weight: 600;
	text-align: center;
	margin-inline: auto;

	@media (max-width: 767px) {
		@mixin font-h4;
		font-weight: 600;
	}
}

.awardWrap {
	@mixin responsive gap, 20, 40, 40;

	display: flex;
	flex-direction: column;

	&.withButton {
		@mixin responsive padding-block-end, 20, 40, 40;
	}

	@media;
}

.row {
	display: flex;
	justify-content: space-between;

	&.centered {
		@mixin responsive gap, 36, 10, 10;

		justify-content: center;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		justify-content: unset;
		gap: 10rem; /* 38px */
		@mixin responsive padding-block-end, 30, unset, unset;
		&.centered {
			gap: 7rem; /* 38px */
		}
	}
}

.button {
	@mixin transition;

	display: flex;
	width: fit-content;
	outline: none;
	margin-inline: auto;

	svg path {
		@mixin transition;
	}

	&.close {
		@mixin responsive margin-block-start, 20, 40, 40;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--black-color) !important;

			svg path {
				fill: var(--black-color);
			}
		}
	}
}

.awardWrap.allAwards {
	@mixin transition;
	@mixin responsive padding-block-start, 20, 40, 40;

	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition-property: max-height opacity;

	&.open {
		opacity: 1;
	}
}
