.root {
	@mixin res padding-block-end, 38.4rem, 10rem, 9rem;
}

.title {
	@mixin font-h2;
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem;

	font-weight: 600;
	text-align: center;
}

.awardWrap {
	@mixin res gap, 10.667rem, 2.778rem, 2.5rem;

	display: flex;
	flex-direction: column;

	&.withButton {
		@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem;
	}
}

.row {
	display: flex;
	justify-content: space-between;

	&.centered {
		@mixin res gap, 19.2rem, 5rem, 4.5rem;

		justify-content: center;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		justify-content: unset;
		gap: 10rem;

		&.centered {
			gap: 10rem;
		}
	}
}
