.root {
	@mixin res padding-block, 13.333rem, 5rem, 4.5rem; /* 50px 72px */
}

.title {
	@mixin font-h2;
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem; /* 40px */ 

	font-weight: 600;
	text-align: center;
}

.awardWrap {
	@mixin res gap, 10.667rem, 2.778rem, 2.5rem; /* 40px */ 

	display: flex;
	flex-direction: column;

	&.withButton {
		@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem; /* 40px */ 
	}
}

.row {
	display: flex;
	justify-content: space-between;

	&.centered {
		@mixin res gap, 19.2rem, 5rem, 4.5rem; /* 72px */

		justify-content: center;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		justify-content: unset;
		gap: 10rem; /* 38px */

		&.centered {
			gap: 10rem; /* 38px */
		}
	}
}
