.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@mixin responsive padding-block, 30, 72, 72;
	position: relative;
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 10, 16, 16;
}

.title:has(+ .slider) {
	@mixin responsive padding-block-end, 20, 40, 40;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	text-align: center;
}

.description {
	@mixin font-text20;
	color: var(--gray-700-color);
	@mixin responsive padding-block-end, 30, 64, 64;
	text-align: center;

	@media (max-width: 767px) {
		width: 100%;
		padding-inline: 5.33rem;
	}

	@media (min-width: 1441px) {
		padding-inline: calc(8.333rem + (100vw - 1440px) / 2);
	}
}

.slider {
	position: relative;
	@mixin responsive padding-inline, 20, 120, unset;
	@mixin responsive padding-block-end, 35, 40, 40;

	@media (min-width: 1441px) {
		padding-inline: calc(8.333rem + (100vw - 1440px) / 2);
	}
}

.root::before,
.root::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7rem;
	z-index: 2;
	pointer-events: none;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

.root::before {
	left: 0;
}

.root::after {
	right: 0;
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

@media (min-width: 1441px) {
	.root::before,
	.root::after {
		width: calc(7rem + (100vw - 1440px) / 2);
	}
}

.button {
	color: var(--red-500-color);
}
