.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@mixin res gap, 8rem, 2.778rem, 2.5rem; /* 30px 40px */
	@mixin res padding-block, 13.333rem, 5rem, 4.5rem; /* 50px 72px */
}

.title {
	@mixin font-h2;
	font-weight: 600;
}

.button {
	color: var(--red-500-color);
}
