.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@mixin responsive gap, 30, 40, 40;
	@mixin responsive padding-block, 50, 72, 72;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	text-align: center;
}

.button {
	color: var(--red-500-color);
}
