.root {
	@mixin transition;

	transition-property: background-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	background-color: var(--gray-200-color);
	width: 100%;

	h4:has(+ p) {
		@mixin responsive padding-block-end, 8, 8, 8;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		gap: 5rem;
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-300-color);
		}
	}
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	@mixin responsive gap, 24, 24, 24;
}

.iconWrap {
	display: flex;

	@mixin responsive width, 42, 48, 48;
	@mixin responsive height, 42, 48, 48;
}

.icon {
	width: 100%;
	height: 100%;
}

.wrap {
	display: flex;
	flex-direction: column;

	@mixin responsive max-width, 300, 490, 490;
}

.name {
	@mixin font-text20;

	color: var(--gray-800-color);
	font-weight: 500;
}

.description {
	@mixin font-text14;
	color: var(--gray-700-color);
}

.button {
	@mixin transition;

	svg path {
		@mixin transition;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--black-color) !important;

			svg path {
				fill: var(--black-color);
			}
		}
	}
}

.link {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
