.root {
	@mixin responsive margin-block, 36, 72, 72;
}

.title,
.description {
	@mixin responsive width, 350, 1200, 1200;

	margin-inline: auto;
	text-align: center;
}

.title {
	@mixin res padding-block-end, 4.267rem, 1.111rem, 1rem;
	@mixin font-h2;

	font-weight: 700;
}

.description {
	@mixin font-text20;

	color: var(--gray-800-color);
}

.titleBlock {
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem;
}
