.root {
	@mixin responsive margin-block, 36, 72, 72;
}

.title,
.description {
	@mixin responsive width, 335, 1200, 1200;

	margin-inline: auto;
	text-align: center;
}

.title {
	@mixin font-h2;

	font-weight: 700;
}

.description {
	@mixin font-text20;
	@mixin responsive max-width, 335, 700, 700;

	color: var(--gray-800-color);
}

.titleBlock {
	@mixin responsive padding-block-end, 20, 40, 40;
	@mixin responsive gap, 8, 16, 16;

	display: flex;
	flex-direction: column;
}
