.card {
	@mixin responsive gap, 20, 40, 40;
	@mixin transition;
	@mixin responsive padding, 16, 32, 32;
	@mixin responsive border-radius, 10, 32, 32;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: start;
	text-align: start;
	background-color: var(--gray-200-color);
	cursor: pointer;
	transition-property: background-color;
	height: 100%;
	outline: none;

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-300-color);
		}
	}
}

.imageWrapper {
	@mixin responsive width, 123, 100, 100;
	@mixin responsive height, 123, 100, 100;
	@mixin responsive border-radius, 10, 24, 24;

	position: relative;
	overflow: hidden;
}

.image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name {
	@mixin font-text20;
	@mixin res padding-block-end, 1.067rem, 0.278rem, 0.25rem;

	font-weight: 600;
}

.position {
	@mixin font-text14;
}
