.root {
	@mixin responsive height, 300, 746, 746;

	position: relative;
	background-color: var(--gray-300-color);
}

.infoWindow {
	@mixin responsive gap, 5, 8, 8;

	display: flex;
	flex-direction: column;
}

.link {
	color: var(--blue-100-color);
	font-weight: 500;
}