.root {
	@mixin responsive margin-inline, 20;
	@mixin responsive padding, 16, 24, 24;
	@mixin responsive border-radius, 24, 24, 24;
	@mixin responsive --border-width, 1, 1, 1;
	@mixin responsive min-height, 0, 520, 520;

	overflow: hidden;
	border: var(--border-width) solid var(--gray-300-color);

	:global(.highcharts-credits) {
		display: none;
	}

	svg {
		overflow: visible !important;
	}

	div {
		overflow: visible !important;
	}

	:global(.highcharts-button-box) {
		@mixin responsive width, 16, 40, 40;
	}
}

.controls {
	@mixin responsive padding-block-end, 24, 24, 24;

	display: flex;
	justify-content: space-between;
}
