.root {
	@mixin responsive padding, 16, 24, 24;
	@mixin responsive border-radius, 24, 24, 24;
	@mixin responsive --border-width, 1, 1, 1;

	border: var(--border-width) solid var(--gray-300-color);

	:global(.highcharts-credits) {
		display: none;
	}

	svg {
		overflow: visible !important;
	}

	div {
		overflow: visible !important;
	}
}
