.circle {
	@mixin responsive width, 8, 12, 12;
	@mixin responsive height, 8, 12, 12;
	@mixin responsive margin-block-start, 7, 7, 7;

	border-radius: 100%;
	background-color: var(--gray-400-color);
	opacity: 0.5;

	&.filled {
		background-color: var(--gray-100-color);
		opacity: 1;
	}
}

.title {
	@mixin responsive gap, 5, 8, 8;

	display: flex;
}

.description {
	@mixin font-text16;

	color: var(--gray-400-color);
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 767px) {
		@mixin responsive padding-block, 6;
		@mixin responsive padding-inline, 12;

		flex-shrink: 0;
		background-color: #ffffff0f;
		border-radius: 12px;
	}
}

html[lang='hy'],
html[lang='ru'] {
	.description {
		@mixin responsive font-size, 16, 16, 16;

		width: max-content;

		@media (max-width: 767px) {
			font-size: 16px;
		}
	}

	.title {
		@mixin responsive margin-block-end, 10, 5, 5;
	}
}
