html[data-header-top-color='white'] .svg path {
	fill: var(--white-color);
	stroke: var(--white-color);
}

html[data-header-top-color='dark'] .svg path {
	fill: var(--black-color);
	stroke: var(--black-color);
}

.svg {
	display: flex;
	justify-content: center;
	align-items: center;

	@mixin res width, 5.067rem, 1.319rem, 1.188rem;
	@mixin res height, 5.067rem, 1.319rem, 1.188rem;

	path {
		transition:
			stroke 0.3s ease,
			fill 0.3s ease;
	}

	&:hover {
		path {
			stroke: var(--red-500-color) !important;
			fill: var(--red-500-color) !important;
		}
	}
}
