.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive width, unset, 760, 760;
	margin-inline: auto;

	@media (max-width: 767px) {
		width: 100%;
		@mixin responsive padding-inline, 20, unset, unset;
	}
}
