.modal {
	@mixin transition;
	@mixin responsive width, 350, 648, 648;
	@mixin responsive padding, 10, 32, 32;
	@mixin responsive border-radius, 24, 24, 24;

	transition-property: all;
	left: 50%;
	top: 50%;
	translate: -50% -45%;
	outline: none;
	max-height: calc(100% - 2em - 6px);
	max-width: unset;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	scrollbar-width: none;
	opacity: 0;
	visibility: hidden;

	&.open,
	&.open::backdrop {
		opacity: 1;
	}

	@media (max-width: 767px) {
		height: 100%;
		width: 100%;
		max-height: unset;
		border-radius: unset;
	}
}

.modal::backdrop {
	@mixin transition;

	transition-property: all;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
}

.modal.open {
	opacity: 1;
	visibility: visible;
	translate: -50% -50%;
}

.modal::backdrop {
	@mixin transition;

	transition-property: opacity;
	opacity: 0;
}

.modal.open::backdrop {
	opacity: 1;
}

.button {
	@mixin transition;
	@mixin responsive width, 24, 44, 44;
	@mixin responsive height, 24, 44, 44;
	@mixin responsive margin, 16, 32, 32;

	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	transition-property: scale;

	.cross path {
		@mixin transition;

		transition-property: stroke;
	}

	@media (hover: hover) {
		&:hover {
			scale: 1.1;
		}

		&:hover .cross path {
			stroke: var(--gray-500-color);
		}
	}
}

.content {
	@mixin responsive margin-block-end, 16, 16, 16;
	@mixin responsive padding-block-end, 16, 16, 16;
	@mixin responsive border-width, 2, 2, 2;

	border-bottom: solid var(--gray-300-color);

	strong {
		font-weight: 600;
	}
}

.content:last-child {
	@mixin responsive padding-block-end, 30, unset, unset;
	border: unset;
	margin-block-end: unset;
}
