@define-mixin animation $keyframe {
	animation: $keyframe 1.25s cubic-bezier(0.75, 0, 0.25, 1.01) infinite;
}

@define-mixin transition $property, $duration: 0.267s {
	transition: $property $duration cubic-bezier(0.55, 0, 0.1, 1);
}

@define-mixin transitionOptions $duration: 0.267s {
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

@define-mixin transitionMenuOpenOptions $duration: 0.467s {
	transition-duration: $duration;
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
