.inputs,
.root {
	display: flex;
	flex-direction: column;
}

.titleBlock {
	@mixin responsive padding-block-end, 24, 48, 48;
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 10, 24, 24;
	font-weight: 600;
}

.description {
	@mixin font-text18;
	color: var(--gray-600-color);
}

.inputs {
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive padding-block-end, 16, 32, 32;

	input,
	textarea {
		width: 100%;
	}
}

.captcha {
	@mixin responsive padding-block-end, 16, 32, 32;
}

.button {
	position: relative;
	justify-content: center;

	&.loading {
		span {
			visibility: hidden;
			opacity: 0;
		}

		.loader {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
	}
}

.loader {
	@mixin responsive width, 24, 24, 24;
	@mixin responsive height, 24, 16, 16;

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	visibility: hidden;
	opacity: 0;
}
