.root {
	@mixin responsive gap, 10, 16, 16;

	display: flex;
	flex-direction: column;
}

.title {
	@mixin responsive padding-block-end, 16, 24, 24;
	@mixin font-h2;

	font-weight: 600;
}

.fileUploader,
.inputGroup {
	@mixin responsive padding-block-end, 16, 24, 24;
}

.inputGroup {
	@mixin responsive gap, 20, 20, 20;

	display: flex;
	flex-direction: column;
}

.input input {
	width: 100%;
}

.logo :global(.logo_armbrok_svg__word) {
	fill: var(--black-color) !important;
}

.textarea {
	@mixin responsive margin-block-end, 16, 24, 24;
}

.captcha,
.checkbox {
	@mixin responsive padding-block-end, 16, 24, 24;
}

.button {
	position: relative;

	&.loading {
		span {
			visibility: hidden;
			opacity: 0;
		}

		.loader {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
		justify-content: center;
	}
}

.loader {
	@mixin responsive width, 24, 24, 24;
	@mixin responsive height, 24, 16, 24;

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	visibility: hidden;
	opacity: 0;
}
