.root {
	@mixin transition;
	@mixin responsive border-radius, 15, 24, 24;
	@mixin responsive padding-inline, 10, 32, 32;
	@mixin responsive padding-block, 10, 19, 19;

	transition-property: background-color;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray-200-color);
	height: 100%;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: start;
		gap: 6rem; /* 23px */
	}
}

.leftPart {
	@mixin responsive gap, 8, 16, 16;

	display: flex;
	align-items: center;
}

.icon {
	@mixin responsive --size, 30, 48, 48;

	width: var(--size);
	height: var(--size);
}

.name {
	@mixin font-text18;
	@mixin responsive padding-block-end, 4, 4, 4;

	font-weight: 600;
}

.info {
	@mixin responsive gap, 4, 4, 4;

	display: flex;
	align-items: center;
}

.size,
.type {
	@mixin font-text14;
	color: var(--gray-500-color);
}

.circle {
	@mixin responsive --size, 4, 4, 4;

	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	background-color: var(--gray-600-color);
}

.button {
	height: fit-content;
	z-index: 100;

	@media (max-width: 767px) {
		width: 100%;
		justify-content: end;
	}
}

.root.column {
	align-items: start;
	flex-direction: column;

	@media (max-width: 767px) {
		flex-direction: row;
		align-items: end;
	}

	.leftPart {
		align-items: start;
		flex-direction: column;
	}

	.button {
		position: absolute;
		align-self: end;
		bottom: 0;
		translate: 0% -80%;
		padding-block: unset;

		@media (max-width: 767px) {
			position: static;
			translate: unset;
			align-self: end;
		}
	}
}

.root.row .name {
	@mixin responsive max-width, 0, 128, 128;

	@media (min-width: 768px) {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
		word-break: break-word;
		overflow-wrap: break-word;
		white-space: normal;
	}

	@media (max-width: 767px) {
		max-width: unset;
	}

	&.bigWidth {
		@mixin responsive max-width, 332, 332, 332;

		@media (max-width: 767px) {
			max-width: unset;
		}
	}
}


.root {
	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-300-color);
		}
	}
}

.downloadLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
