.root {
	@mixin responsive border-radius, 24, 24, 24;
	@mixin responsive padding-inline, 22, 32, 32;
	@mixin responsive padding-block, 20, 19, 19;

	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--gray-200-color);

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: start;
		gap: 6rem; /* 23px */
	}
}

.leftPart {
	@mixin responsive gap, 16, 16, 16;

	display: flex;
	align-items: center;
}

.icon {
	@mixin responsive --size, 48, 48, 48;

	width: var(--size);
	height: var(--size);
}

.name {
	@mixin font-text18;
	@mixin responsive padding-block-end, 4, 4, 4;

	font-weight: 600;

	@media (max-width: 767px) {
		@mixin font-text16;
	}
}

.info {
	@mixin responsive gap, 4, 4, 4;

	display: flex;
	align-items: center;
}

.size,
.type {
	@mixin font-text14;

	color: var(--gray-500-color);
}

.circle {
	@mixin responsive --size, 4, 4, 4;

	width: var(--size);
	height: var(--size);
	border-radius: 100%;
	background-color: var(--gray-500-color);
}

.button {
	height: fit-content;
}

.root.column {
	align-items: start;
	flex-direction: column;
	.leftPart {
		align-items: start;
		flex-direction: column;
	}

	.button {
		position: absolute;
		align-self: end;
		bottom: 0;
		translate: 0% -80%;
		padding-block: unset;
	}
}

.button {
	@mixin transition;

	svg path {
		@mixin transition;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--black-color) !important;

			svg path {
				fill: var(--black-color);
			}
		}
	}
}
