.root {
	@mixin transition;
	@mixin responsive padding-block, 14, 14, 14;
	@mixin responsive padding-inline, 12, 12, 12;
	@mixin responsive border-radius, 16, 16, 16;
	@mixin responsive gap, 10, 10, 10;
	@mixin responsive --shadow, 48, 48, 48;

	opacity: 0;
	transition-property: all;
	z-index: 1000;
	position: fixed;
	bottom: 5%;
	left: 50%;
	translate: -50% 0%;
	display: flex;
	width: fit-content;
	max-height: unset;
	align-items: center;
	box-shadow: 0 0 var(--shadow) -12px #101828;

	@media (max-width: 767px) {
		@mixin responsive width, 320;
		align-items: start;
	}
}

.root[open] {
	opacity: 1;
	visibility: visible;
	translate: -50% -5%;
}

.successfulIconWrapper {
	@mixin responsive width, 24, 24, 24;
	@mixin responsive height, 24, 24, 24;
	@mixin responsive border-radius, 4, 4, 4;

	background-color: var(--green-50-color);
	position: relative;

	@media (max-width: 767px) {
		display: none;
	}
}

.content {
	display: flex;
	flex-direction: column;
	@mixin responsive gap, 4, 4, 4;
	white-space: nowrap;
}

.successfulIconWrapper,
.close {
	flex-shrink: 0;
}

.content {
	min-width: 0;
}

.icon {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}

.icon,
.close {
	@mixin responsive width, 16, 16, 16;
	@mixin responsive height, 16, 16, 16;
}

.close {
	position: relative;
	cursor: pointer;
	outline: none;

	@media (max-width: 767px) {
		@mixin responsive width, 24;
		@mixin responsive height, 24;
	}
}

.cross {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 50%;
	top: 50%;
	translate: -50% -50%;

	@media (max-width: 767px) {
		path {
			stroke-width: 2;
		}
	}
}
