.tabs {
	@mixin responsive gap, 8, 8, 8;
	@mixin responsive padding-block-end, 20, 20, 20;

	display: flex;
}

.button[class] {
	@mixin font-text14;
	@mixin responsive padding-inline, 16, 16, 16;
	@mixin responsive padding-block, 8, 8, 8;

	font-weight: 500;
	border: none;
	display: flex;
	justify-content: center;
	background-color: var(--gray-200-color) !important;
	color: var(--gray-500-color) !important;

	&.selected {
		background-color: var(--gray-900-color) !important;
		color: var(--gray-100-color) !important;
	}

	@media (hover: hover) {
		&:hover {
			border: none !important;
			color: var(--gray-100-color) !important;
			background-color: var(--gray-900-color) !important;
		}
	}
}
