@define-mixin font-h1 {
	font-size: var(--h1);
	line-height: var(--h1-line-height);
}

@define-mixin font-h2 {
	font-size: var(--h2);
	line-height: var(--h2-line-height);
}

@define-mixin font-h3 {
	font-size: var(--h3);
	line-height: var(--h3-line-height);
}

@define-mixin font-h4 {
	font-size: var(--h4);
	line-height: var(--h4-line-height);
}

@define-mixin font-h5 {
	font-size: var(--h5);
	line-height: var(--h5-line-height);
}

@define-mixin font-h6 {
	font-size: var(--h6);
	line-height: var(--h6-line-height);
}

@define-mixin font-text20 {
	font-size: var(--text20);
	line-height: var(--text20-line-height);
}

@define-mixin font-text18 {
	font-size: var(--text18);
	line-height: var(--text18-line-height);
}

@define-mixin font-text16 {
	font-size: var(--text16);
	line-height: var(--text16-line-height);
}

@define-mixin font-text14 {
	font-size: var(--text14);
	line-height: var(--text14-line-height);
}

@define-mixin font-text12 {
	font-size: var(--text12);
	line-height: var(--text12-line-height);
}
