.root {
	display: flex;
	flex-direction: row;
	align-items: center;

	@media (max-width: 767px) {
		justify-content: flex-start;
		width: 100%;
	}
}

.media {
	@mixin responsive gap, 10, 16, 16;
	img {
		@mixin responsive width, 24, 24, 24;
		@mixin responsive height, 24, 24, 24;
	}
}
