.root {
	@mixin font-text16;
	font-weight: 500;
	@mixin transition;

	transition-property: background-color color;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.root:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.filled,
.outline {
	@mixin responsive padding-block, 4, 8, 8;
	@mixin responsive padding-inline, 15, 24, 24;
	@mixin responsive border-radius, 1000, 1000, 1000;

	:lang(en) & {
		@mixin responsive padding-block-start, 2, 6, 6;
		@mixin responsive padding-block-end, 6, 10, 10;
	}
}

.filled {
	color: var(--gray-100-color);
	background-color: var(--red-500-color);
	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;
		@media (hover: hover) {
			&:hover {
				background-color: var(--red-600-color);
			}
		}
	}
}

.outline {
	border: var(--red-500-color) solid 0.063rem;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				color: var(--red-600-color);
				border: var(--red-600-color) solid 0.063rem;
				background-color: #ff5e6917;
			}
		}
	}
}

.subtle {
	background-color: transparent;
	color: var(--gray-700-color);
	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: transparent;
				color: var(--red-600-color);
			}
		}
	}
}

.next {
	@mixin responsive gap, 8, 8, 8;
	color: var(--red-500-color);

	.icon path {
		@mixin transition;

		transition-property: fill;
		fill: var(--red-500-color);
	}

	background-color: transparent;
	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: transparent;
				color: var(--red-600-color);

				.icon path {
					fill: var(--red-600-color);
				}
			}
		}
	}
}

.back {
	@mixin responsive gap, 8, 8, 8;

	background-color: transparent;
	color: #808080;
}

.icon {
	@mixin responsive width, 24, 24, 24;
}

.root.big {
	@mixin responsive padding-block, 12, 16, 16;
	@mixin responsive padding-inline, 16, 24, 24;
}
