.root {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 7.778rem; /* 112px */
	padding-block-end: 2.778rem; /* 40px */

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.column {
	@mixin responsive padding-block-end, 4rem, unset, unset; /* 15px */
	&:last-of-type {
		padding-block-end: unset;
	}
}

.title {
	@mixin font-h6;
	font-weight: 600;

	@mixin responsive padding-block-end, 2.667rem, 1.667rem, 1.5rem;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	gap: 1.111rem; /* 16px */
}
