.root {
	display: flex;
	flex-direction: column;
	@mixin responsive padding-block, 30, 72, 72;
}

.title:has(+ .items) {
	@mixin responsive padding-block-end, 20, 48, 48;
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 10, 15, 15;
}

.title {
	@mixin font-h2;

	text-align: center;
	font-weight: 600;
}

.items {
	@mixin responsive gap, 10, 24, 24;

	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media (max-width: 767px) {
		@media (max-width: 767px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.description {
	@mixin font-text20;
	text-align: center;
}
