.root {
	display: flex;
	@mixin responsive gap, 4, 4, 4;
	@mixin responsive margin-inline, 4, 4, 4;

	@media (max-width: 767px) {
		flex-shrink: 0;
		min-width: max-content;
	}
}

.white {
	color: var(--gray-800-color) !important;
	background-color: var(--gray-100-color);
	transition: background-color 0.4s ease;
	box-shadow: 0px 2px 2px #0000000d;
}

@media (hover: hover) {
	.white:hover {
		background-color: var(--gray-200-color);
	}
}

.tab {
	flex-shrink: 0;
}
