.root,
.newsList {
	@mixin responsive padding-block, 10, 20, 20;
}

.newsList {
	@mixin responsive gap, 26, 38, 38;
	@mixin responsive padding-inline-start, 10, 20, 35;

	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--gray-300-color);
}

.listItem {
	@mixin responsive max-width, 320, 650, 650;
}
