.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@mixin responsive width, 330, 400, 400;
	text-align: center;
}

.wrapNumber {
	display: flex;
	justify-content: center;
	align-items: center;
	@mixin responsive width, 88, 88, 88;
	@mixin responsive height, 88, 88, 88;

	border: 0.069rem solid var(--gray-300-color);

	border-radius: 50%;
	@mixin responsive margin-block-end, 20, 40, 40;
	position: relative;

	@media (max-width: 767px) {
		border: 0.8rem solid var(--gray-300-color);
	}
}

.wrapNumber.first,
.wrapNumber.middle {
	&::before {
		content: '';
		position: absolute;
		@mixin responsive top, -3, -3, -3;
		@mixin responsive left, -3, -3, -3;
		@mixin responsive right, -3, -3, -3;
		@mixin responsive bottom, -3, -3, -3;
		border-radius: 50%;
		border: 0.278rem solid var(--red-500-color);

		@media (max-width: 767px) {
			border: 0.7rem solid var(--red-500-color);
		}
	}
}

.wrapNumber.first {
	&::before {
		clip-path: inset(0 67% 0 0);
		transform: rotate(160deg);
	}
}

.wrapNumber.middle {
	&::before {
		clip-path: inset(0 33% 0 0);
		transform: rotate(196deg);
	}
}

.wrapNumber.last {
	&::after {
		content: '';
		position: absolute;
		@mixin responsive top, -3, -3, -3;
		@mixin responsive left, -3, -3, -3;
		@mixin responsive right, -3, -3, -3;
		@mixin responsive bottom, -3, -3, -3;
		border-radius: 50%;
		border: 0.278rem solid var(--red-500-color);
		clip-path: inset(0 0% 0 0);
		transform: rotate(160deg);

		@media (max-width: 767px) {
			border: 0.7rem solid var(--red-500-color);
		}
	}
}

.number,
.title {
	@mixin font-h4;
	font-weight: 700;
}

.number {
	color: var(--red-500-color);
}

.title {
	@mixin responsive padding-block-end, 5, 8, 8;
}

.description {
	@mixin font-text16;
	color: var(--gray-600-color);
}

.wrapNumber {
	position: relative;
}

.first::after,
.last::before {
	content: '';
	position: absolute;
	top: 50%;
	@mixin responsive width, unset, 287, 287;
	@mixin responsive height, unset, 1, 1;
	background-color: var(--gray-300-color);
	@media (max-width: 767px) {
		display: none;
	}
}

.first::after {
	@mixin responsive left, uset, 97, 97;
}

.last::before {
	@mixin responsive right, uset, 97, 97;
}
