.root {
	position: relative;
}

.selected,
.languageButton {
	@mixin font-text16;

	font-weight: 500;
	cursor: pointer;
}

.selected {
	@mixin transition;
	@mixin responsive gap, 6, 6, 6;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition-property: color;

	&.white {
		color: var(--gray-100-color);
	}

	&.dark {
		color: var(--black-color) !important;

		.svg path {
			fill: var(--black-color) !important;
		}
	}

	@media (hover: hover) {
		&:hover {
			color: var(--red-600-color) !important;

			.svg path {
				fill: var(--red-600-color) !important;
			}
		}
	}
}

.svg {
	@mixin transition;
	@mixin responsive width, 9, 9, 9;
	@mixin responsive height, 5, 5, 5;

	transition-property: rotate;
	rotate: 180deg;

	&.open {
		rotate: 0deg;
	}

	path {
		@mixin transition;

		transition-property: fill;
	}
}

.languagesList {
	@mixin transition;
	@mixin responsive border-radius, 12, 12, 12;
	@mixin responsive width, 64, 64, 64;
	@mixin responsive padding-block, 8, 8, 8;

	background-color: var(--gray-100-color);
	position: absolute;
	overflow: hidden;
	opacity: 0;
	top: 102%;
	visibility: hidden;
	transition-property: opacity visibility translate;
}

.languagesList.open {
	opacity: 1;
	visibility: visible;
}

.languagesList.close {
	opacity: 0;
	visibility: hidden;
	translate: 0% -10%;
}

.languageButton {
	@mixin responsive padding-block, 8, 8, 8;
	@mixin transition;

	width: 100%;
	transition-property: background-color;
	color: var(--black-color);
	text-align: center;
	&.selectedLang {
		background-color: var(--gray-300-color);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-200-color);
		}
	}

	@media (max-width: 767px) {
		@mixin font-text14 !important;
	}
}

.language {
	@mixin responsive margin-inline, 7, 7, 7;
}

html[data-header-top-color='white'] {
	.selected {
		color: var(--gray-100-color);
	}

	.svg path {
		fill: color(--gray-100-color);
	}
}

html[data-header-top-color='dark'] {
	.selected {
		color: var(--black-color);
	}

	.languagesList {
		box-shadow: 0px 4px 50px #0000001a;
	}

	.svg path {
		fill: var(--black-color);
	}
}
