.swiper {
	:global(.swiper-button-prev),
	:global(.swiper-button-next) {
		@mixin responsive width, 26, 26, 26;
		@mixin responsive height, 26, 26, 26;

		&::before {
			@mixin responsive width, 48, 48, 48;
			@mixin responsive height, 48, 48, 48;

			background-color: var(--white-color);
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
		}
	}
}

.slide {
	position: relative;
	width: 800px;
	overflow: hidden;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.image {
	@mixin res width, 30rem, 55.556rem, 50rem;
	@mixin res border-radius, 6.4rem, 1.667rem, 1.5rem;
	@mixin res margin-block-end, 8.467rem, 4.028rem, 3.625rem;

	object-fit: cover;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin font-text20;

	font-weight: 700;
}

.description {
	@mixin font-text20;
}
