.swiper {
	&.withSummary {
		:global(.swiper-pagination) {
			display: none;
		}
	}

	:global(.swiper-pagination) {
		position: static !important;

		:global(.swiper-pagination-bullet) {
			background-color: var(--gray-500-color);
			&:global(.swiper-pagination-bullet-active) {
				background-color: var(--black-color);
			}
		}
	}

	:global(.swiper-button-prev),
	:global(.swiper-button-next) {
		@mixin responsive width, 36, 48, 48;
		@mixin responsive height, 36, 48, 48;
		@mixin responsive border-radius, 66, 66, 66;

		background: #fff !important;
		color: var(--black-color);
		top: 49.7%;
		translate: 0% -50%;

		&::after {
			@mixin responsive width, 26, 26, 26;
			@mixin responsive height, 26, 26, 26;

			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			translate: -50% -50%;
			background-image: url('./arrow.svg');
			background-size: 100%;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	:global(.swiper-button-prev) {
		left: 30%;

		@media (min-width: 1441px) {
			left: calc(417px + (100vw - 1440px) / 2);
		}

		@media (max-width: 767px) {
			left: 2%;
		}
	}

	:global(.swiper-button-next) {
		right: 30%;
		rotate: 180deg;

		@media (min-width: 1441px) {
			right: calc(417px + (100vw - 1440px) / 2);
		}

		@media (max-width: 767px) {
			right: 2%;
		}
	}
}

.swiper.withSummary .imageWrapper {
	@mixin responsive margin-block-end, 16, 58, 58;
}

.swiper.withSummary {
	:global(.swiper-button-prev),
	:global(.swiper-button-next) {
		top: 44.5%;

		@media (max-width: 767px) {
			display: unset;
		}
	}

	@media (max-width: 767px) {
		:global(.swiper-button-prev) {
			left: 10%;
		}

		:global(.swiper-button-next) {
			right: 10%;
		}
	}
}

.swiper.withoutSummary .imageWrapper {
	@mixin responsive margin-block-end, 16, 32, 32;
}

.slide {
	@mixin responsive --width, 320, 640, 640;

	position: relative;
	overflow: hidden;
	width: var(--width) !important;
}

.imageWrapper {
	@mixin responsive width, 320, 640, 640;
	@mixin responsive height, 250, 480, 480;
	@mixin responsive border-radius, 24, 24, 24;

	justify-self: center;
	overflow: hidden;
	position: relative;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin font-text20;

	font-weight: 600;
}

.description {
	@mixin font-text20;
}
