.root {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: radial-gradient(
			circle at 70% center,
			#d42522 0%,
			#9e2e2c 5%,
			transparent 70%
		),
		linear-gradient(to right, #230302 0%, #230302 20%, #230302 50%);

	@mixin responsive margin-block-end, 24, 24, 24;

	@mixin responsive height, unset, 422, 422;
	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		height: 136rem;
	}
}

.title,
.description,
.store {
	@mixin responsive max-width, unset, 239, 239;

	@media (max-width: 767px) {
		max-width: 100%;
	}
}

.title {
	@mixin font-h4;
	font-weight: 600;
	color: var(--gray-200-color);
	@mixin responsive padding-block-end, 8, 8, 8;
}

.description {
	@mixin font-text16;
	color: var(--gray-200-color);
	@mixin responsive padding-block-end, 10, unset, unset;
}

.imageWrap {
	position: absolute;
	height: auto;
	@mixin responsive width, unset, 274, 274;
	@mixin responsive right, unset, 20, 20;
	@mixin responsive top, unset, 18.5, 18.5;
	@mixin responsive padding-block-end, 30, unset, unset;

	z-index: 2;

	@media (max-width: 767px) {
		position: static;
		height: 86.867rem; /* 404px */
		margin-inline: auto;
		bottom: 54rem; /* 202.5px */
	}
}

.store {
	margin-block-start: auto;
	@mixin responsive height, 38, 38, 38;
	@mixin responsive gap, 8, 8, 8;
}
