.root {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	@mixin responsive gap, 1, 1, 1;
	@mixin responsive padding-inline-end, unset, 64, 64;
}

.name {
	@mixin font-h6;
	text-align: start;

	@media (max-width: 767px) {
		@mixin font-text16;
	}
}

.position {
	@mixin font-text16;
	color: var(--gray-500-color);
}
