.ball {
	@mixin responsive width, 8, 10, 10;
	@mixin responsive height, 8, 10, 10;
	background-color: red;
	border-radius: 50%;

	animation: bounce 1.2s infinite ease-in-out;
}

.first {
	animation-delay: 0s;
}

.second {
	animation-delay: 0.2s;
}

.third {
	animation-delay: 0.4s;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
}
