.root {
	position: relative;
}

.card {
	@mixin responsive padding, 10, 10, 10;
	width: fit-content;
	background-color: black;
	color: white;
	text-align: center;
}

.firstGroup {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 80px;
	width: fit-content;
	align-items: center;
}

.internal {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -200% -50%;
}

.secondGroup {
	display: flex;
}
