.root {
	display: flex;
	flex-direction: column;
	align-items: baseline;

	@mixin responsive padding-block-end, 40, unset, unset;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	@mixin responsive padding-block-end, 10, 16, 16;
}

.description {
	@mixin font-text20;
	color: var(--gray-700-color);
	@mixin responsive padding-block-end, 30, 48, 48;
}

.wrapButton {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, 16, 16, 16;

	@media (max-width: 767px) {
		width: 100%;
		flex-direction: column;
	}
}

.buttonRed,
.button {
	justify-content: center;
}

.buttonRed {
	color: var(--red-500-color);
}
