.root {
	@mixin responsive gap, 12, 12, 12;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	p:last-child {
		@mixin font-text20;

		font-weight: 500;
	}

	p:first-child {
		@mixin font-text16;
	}
}
