.article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	@mixin font-text20;

	font-weight: 600;
	text-align: center;
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 12, 12, 12;
}

.icon {
	@mixin responsive width, 48, 48, 48;
	@mixin responsive margin-block-end, 16, 16, 16;
}

.description {
	@mixin font-text16;

	color: var(--gray-700-color);
	text-align: center;
}
