.root {
	@mixin res gap, 2.667rem, 0.694rem, 0.694rem;

	display: flex;
	flex-direction: column;
}

.figure {
	@mixin responsive width, 24, 30, 30;
	@mixin responsive height, 24, 24, 24;

	&.rotated {
		transform: scaleX(-1);
		align-self: end;
	}
}

.text {
	@mixin font-text20;
}
