.root {
	position: relative;
	width: 100%;
}

.svg {
	width: 100%;
}

.graphCustomContent {
	@mixin responsive font-size, 11, 10, 10;

	padding-inline: 4px;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	word-break: break-word;
	color: var(--gray-100-color);
	text-align: center;
	font-weight: 500;
}
