.root {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive width, 310, 1000, 1000;

	background-color: var(--gray-200-color);
	height: 100%;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.icon {
	@mixin responsive --size, 72, 134, 134;
	@mixin responsive border-radius, 12, 12, 12;

	width: var(--size);
	height: var(--size);
}

.wrap {
	width: 100%;
}
