.card {
	height: 100%;
}

.icon {
	@mixin res universal-size, 12.8rem, 3.333rem, 3rem; /* 48px */
	@mixin res margin-block-end, 6.4rem, 1.667rem, 1.5rem; /* 24px */

	width: var(--universal-size);
	height: var(--universal-size);
}

.title {
	@mixin font-text20;
	@mixin res padding-block-end, 3.2rem, 0.833rem, 0.75rem; /* 12px */

	font-weight: 600;
	color: var(--black-color);
}

.description {
	@mixin font-text16;

	color: var(--gray-700-color);
}

.card.withShell {
	@mixin res padding, 8.533rem, 2.222rem, 2rem; /* 32px */
	@mixin res border-radius, 6.4rem, 1.667rem, 1.5rem; /* 24px */

	background-color: var(--gray-200-color);

	.icon {
		@mixin res margin-block-end, 10.667rem, 2.778rem, 2.5rem; /* 40px */
	}

	&.whiteBackground {
		background-color: var(--gray-100-color);
	}

	&.grayBackground {
		background-color: var(--gray-200-color);
	}
}
