.card {
	height: 100%;
}

.icon {
	@mixin responsive width, 48, 48, 48;
	@mixin responsive height, 48, 48, 48;
	@mixin responsive margin-block-end, 15, 24, 24;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.title {
	@mixin font-text20;

	font-weight: 600;
	color: var(--black-color);
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 12, 12, 12;
}

.description {
	@mixin font-text16;
	color: var(--gray-700-color);
}

.card.withShell {
	background-color: var(--gray-200-color);

	.icon {
		@mixin responsive margin-block-end, 15, 40, 40;
	}

	&.whiteBackground {
		background-color: var(--gray-100-color);
	}

	&.grayBackground {
		background-color: var(--gray-200-color);
	}
}
