.root {
	@mixin responsive padding-block-end, 20, 48, 48;

	display: flex;
	flex-direction: column;
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 10, 16, 16;
}

.title:has(+ .form) {
	@mixin responsive padding-block-end, 22, 48, 48;
}

.title,
.description {
	@mixin responsive max-width, 320, 640, 640;

	margin-inline: auto;
	color: var(--gray-800-color);
	text-align: center;

	@media (max-width: 767px) {
		@mixin responsive width, 330;
	}
}

.title {
	@mixin font-h4;

	font-weight: 600;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.description {
	@mixin font-text16;
	@mixin responsive padding-block-end, 22, 48, 48;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.form {
	@mixin responsive gap, 10, 16, 16;

	display: flex;
	justify-content: center;
	align-items: start;

	@media (max-width: 767px) {
		@mixin responsive width, 330;

		margin-inline: auto;
		flex-direction: column;
	}
}

.input {
	@media (max-width: 767px) {
		width: 100%;
	}

	input {
		@mixin responsive width, unset, 320, 320;
	}
}

.input {
	@media (max-width: 767px) {
		width: 100%;
	}

	input {
		@mixin responsive width, unset, 320, 320;

		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.button {
	@mixin transition;

	transition-property: background-color;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (hover: hover) {
		&:not(:disabled):hover {
			background-color: var(--red-600-color);
		}
	}

	@media (max-width: 767px) {
		width: 100%;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.button {
	position: relative;
	justify-content: center;

	&.loading {
		span {
			visibility: hidden;
			opacity: 0;
		}

		.loader {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
	}
}

.loader {
	@mixin responsive width, 24, 24, 24;
	@mixin responsive height, 24, 16, 24;

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	visibility: hidden;
	opacity: 0;
}
