.root {
	@mixin responsive min-width, 240, 240, 240;
	@mixin responsive gap, 8, 8, 8;
	@mixin responsive padding, 16, 16, 16;
	@mixin responsive border-radius, 16, 16, 16;

	display: flex;
	flex-direction: column;
	box-shadow:
		0px 20px 25px rgba(0, 0, 0, 0.06),
		0px 4px 14px rgba(0, 0, 0, 0.03);

	@media (max-width: 767px) {
		min-width: unset;
	}
}

.paragraph {
	@mixin responsive gap, 5, 12, 12;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 767px) {
		justify-content: start;
	}
}
