.root {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@mixin responsive column-gap, 20, 40, 40;
	align-items: center;
	justify-content: baseline;
	@mixin responsive margin-block-end, 16, 24, 24;

	@mixin responsive padding-block, 10, 20, 20;
	@mixin responsive padding-inline, 12, 28, 28;
	background-color: var(--gray-100-color);
	@mixin responsive border-radius, 10, 24, 24;
}

.newRoot {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.wrap {
	display: flex;
	flex-direction: column;
	@mixin responsive gap, 3, 8, 8;
}

.amountWrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	@mixin responsive gap, 4, 4, 4;
}

.amount {
	@mixin font-h4;
	letter-spacing: -1%;
	font-weight: 600;
	color: var(--gray-800-color);

	@media (max-width: 767px) {
		@mixin font-text14;
		font-weight: 500;
	}
}

.currencySvg {
	object-fit: cover;
	@mixin responsive width, 14, 15, 15;
	@mixin responsive height, 24, 25, 25;
}

.label {
	@mixin font-text14;
	letter-spacing: -1%;

	color: var(--gray-600-color);
	text-transform: uppercase;

	@media (max-width: 767px) {
		@mixin font-text12;
	}
}
