.root,
.files {
	display: flex;
	flex-direction: column;
}

.root,
.mainButton {
	@mixin responsive gap, 10, 10, 10;
}

.name {
	@mixin font-text14;

	word-break: break-word;
}

.mainButton {
	@mixin transition color;
	@mixin responsive border-radius, 12, 12, 12;
	@mixin font-text16;

	width: fit-content;
	display: flex;
	align-items: center;
	color: var(--red-500-color);
	font-weight: 500;

	@media (hover: hover) {
		&:hover {
			color: var(--red-600-color);

			.iconAttachment path {
				fill: var(--red-600-color);
			}
		}
	}
}

.fileInput {
	display: none;
}

.crossIcon,
.iconAttachment {
	@mixin responsive width, 16, 16, 16;
}

.iconAttachment path {
	@mixin transition fill;

	fill: var(--red-500-color);
}

.removeButton {
	@mixin transition opacity;
	@mixin responsive padding, 6, 6, 6;

	@media (hover: hover) {
		&:hover {
			opacity: 0.6;
		}
	}
}

.paragraph {
	@mixin responsive gap, 10, 10, 10;

	display: flex;
	align-items: center;
}
