.root {
	@mixin responsive padding-block-end, 60, 120, 120;
	@mixin responsive padding-block-start, 36, 72, 72;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem; /* 40px */
	@mixin font-h2;

	text-align: center;
	font-weight: 700;
}

.list {
	@mixin res width, auto, 52.778rem, 47.5rem; /* 760px */
	@mixin res gap, 6rem, 0.833rem, 0.75rem; /* 12px */

	display: flex;
	flex-direction: column;
}

.detail {
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 8px */

	display: flex;
	justify-content: center;
}
