.root {
	@mixin responsive gap, 16, 48, 48;
	@mixin responsive padding-block, 36, 48, 48;

	display: flex;
	flex-direction: column;
}

.title {
	@mixin font-h2;

	align-self: center;
	font-weight: 600;
}

.net {
	@mixin responsive gap, 32, 56, 56;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.leftPart,
.rightPart {
	@mixin responsive gap, 32, 48, 48;

	display: flex;
	flex-direction: column;
}
