.root {
	display: flex;
	flex-direction: column;
	@mixin responsive gap, 16, 16, 16;
	@mixin responsive padding-block-start, 30, 40, 40;
	@mixin responsive padding-block-end, 30, 40, 40;
}

.time,
.text {
	@mixin font-text14;
}

.text {
	color: var(--gray-500-color);
}

.time {
	color: var(--gray-400-color);
}
