.root {
	@mixin responsive padding-block-end, 60, 120, 120;

	position: relative;
}

.root::before,
.root::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7rem;
	z-index: 2;
	pointer-events: none;
}

.root::before {
	left: calc((100vw - 100%) / -2);
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

.root::after {
	right: calc((100vw - 100%) / -2);
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

@media (max-width: 767px) {
	.root::before {
		left: -5.333rem;
	}

	.root::after {
		right: -5.333rem;
	}
}

@media (min-width: 1441px) {
	.root::before,
	.root::after {
		width: calc(7rem + (100vw - 1440px) / 2);
	}
}

.title {
	@mixin responsive max-width, 320, 640, 640;
	@mixin font-h2;
	@mixin responsive padding-block-end, 20, 48, 48;

	font-weight: 600;
	text-align: center;
	margin-inline: auto;
}

.slider {
	width: 100%;
	overflow-x: hidden;

	@media (max-width: 767px) {
		margin-inline: -5.333rem;
		width: calc(100% + 10.666rem);
		padding-inline: 5.333rem;
	}

	@media (min-width: 768px) {
		margin-inline: calc((100vw - 100%) / -2);
		width: 100vw;
		@mixin responsive padding-inline, unset, 120, 120;
	}

	@media (min-width: 1441px) {
		padding-inline: calc(8.333rem + (100vw - 1440px) / 2);
	}

	:global(.swiper-button-next),
	:global(.swiper-button-prev) {
		&::after,
		&::before {
			display: none;
		}
	}

	@media (max-width: 767px) {
		@mixin responsive padding-block-end, 18, unset, unset;
	}

	:global(.swiper-pagination) {
		display: none;

		@media (max-width: 767px) {
			display: block;
			width: 100%;
			margin-inline-start: unset;
			bottom: 0 !important;
		}
	}

	:global(.swiper-pagination-bullet) {
		background-color: var(--gray-600-color);

		@media (max-width: 767px) {
			width: 1.867rem;
			height: 1.867rem;
			--swiper-pagination-bullet-horizontal-gap: 0.5rem;
		}
	}

	:global(.swiper-pagination-bullet-active) {
		background-color: var(--gray-800-color);
		opacity: 1;
	}
}

.slide {
	height: auto;
}
