.root {
	@mixin res gap, 12.8rem, 3.333rem, 3rem; /* 48px */

	background-color: var(--gray-200-color);
	display: flex;
	flex-direction: column;
}

.icon {
	@mixin res --size, 17.067rem, 4.444rem, 4rem; /* 64px */

	width: var(--size);
	height: var(--size);
}

.header {
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 8px */

	display: flex;
	flex-direction: column;
}

.title {
	@mixin font-text18;

	font-weight: 600;

	&.greyTitle {
		opacity: 0.3;
	}
}

.flag {
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 8px */

	display: flex;
}

.flagIcon {
	@mixin res width, 5.333rem, 1.389rem, 1.25rem; /* 20px */
	@mixin res height, 5.333rem, 1.389rem, 1.25rem; /* 20px */
}

.countryName {
	@mixin font-text14;

	color: var(--gray-600-color);
}
