.root {
	@mixin res padding-block-end, 32rem, 8.333rem, 7.5rem; /* 120px */

	display: flex;
	flex-direction: column;

	h2:has(+ p) {
		@mixin res padding-block-end, 4.267rem, 1.111rem, 1rem; /* 16px */
	}

	h2:has(+ form) {
		@mixin res padding-block-end, 8.533rem, 2.222rem, 2rem; /* 32px */
	}
}

.title,
.description {
	color: var(--gray-800-color);
	text-align: center;

	@media (max-width: 767px) {
		@mixin responsive width, 330;
		margin-inline: auto;
	}
}

.title {
	@mixin font-h4;

	font-weight: 600;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.description {
	@mixin font-text16;
	@mixin responsive padding-block-end, 16, 32, 32;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.form {
	@mixin res gap, 4.267rem, 1.111rem, 1rem; /* 16px */

	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 767px) {
		@mixin responsive width, 330;

		margin-inline: auto;
		flex-direction: column;
	}
}

.input {
	@media (max-width: 767px) {
		width: 100%;
	}

	input {
		@mixin res width, 100%, 22.222rem, 20rem; /* 320px */
	}
}

.button {
	@mixin transition;

	transition-property: background-color;

	@media (hover: hover) {
		&:not(:disabled):hover {
			background-color: #bf1d29;
		}
	}

	@media (max-width: 767px) {
		width: 100%;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
