.tab {
	@mixin font-text16;
	@mixin responsive border-radius, 8, 8, 8;
	@mixin responsive margin-block, 4, 4, 4;
	@mixin responsive padding-block, 8, 8, 8;

	@mixin responsive width, 110, 185, 185;
	@mixin transition background-color;
	border: transparent;
	cursor: pointer;
	color: var(--gray-500-color);

	&:hover {
		background-color: var(--gray-100-color);
	}

	@media (max-width: 767px) {
		@mixin font-text14;
	}
}

.hyTab {
	width: unset;
	@mixin responsive padding-inline, 20, 31, 31;
}
