.root {
	position: relative;
	display: flex;
	flex-direction: column;

	@mixin responsive border-radius, 20, 32, 32;
	@mixin responsive margin-block-start, 40, 72, 72;
	@mixin responsive margin-block-end, unset, 120, 150;
}

.videoWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@mixin responsive width, unset, 612, 612;
	@mixin responsive height, auto, 420, 420;
	overflow: hidden;
	@mixin responsive border-radius, 20, 32, 32;
	cursor: pointer;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;

	@media (max-width: 767px) {
		height: 60rem;
	}
}

.wrapButton {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	@mixin responsive padding-block, 20, 24, 24;
	@mixin responsive padding-inline, 20, 24, 24;
	cursor: pointer;
}
.playButton {
	display: flex;
	align-items: center;
	@mixin responsive width, 48, 48, 48;
	@mixin responsive height, 48, 48, 48;
	cursor: pointer;
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
}

.svg {
	width: 100%;
	height: auto;

	circle,
	path {
		transition: fill 0.4s ease;
	}
	circle {
		fill: var(--gray-100-color);
	}
	path {
		fill: var(--gray-1000-color);
	}
}

.svg circle,
.svg path {
	@mixin transition;

	transition-property: fill;
}

@media (hover: hover) {
	.videoWrapper:hover .playButton {
		transform: scale(1.1);
		opacity: 0.9;
	}
	.videoWrapper:hover svg {
		circle {
			fill: var(--red-500-color);
		}
		path {
			fill: var(--gray-100-color);
		}
	}
}

.description {
	@mixin font-text16;
	font-weight: 500;
	color: var(--gray-100-color);
	@mixin responsive margin-inline-start, 16, 16, 16;
}
