.root {
	@mixin transition;

	overflow: hidden;
	transition-property: height opacity;

	@media (max-width: 767px) {
		@mixin responsive padding-inline, 20;

		overflow-x: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	&.closed {
		opacity: 0;
	}
}

.table {
	@mixin responsive border-radius, 16, 16, 16;

	width: 100%;
	overflow: hidden;
	border-spacing: 0;
}

.headRow,
.tableRow {
	display: grid;
}

.headRow {
	background-color: var(--gray-200-color);
}

.theadValue,
.tbodyValue {
	@mixin responsive --border, 1, 1, 1;

	@mixin responsive width, 85;
	@mixin responsive height, 56, 56, 56;

	border: var(--border) solid var(--gray-100-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.theadValue:last-of-type {
	border-right: unset;
}

.theadValue {
	@mixin font-text14;

	color: var(--gray-700-color);
}

.tbodyValue {
	@mixin font-text16;

	position: relative;
	color: var(--gray-800-color);
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&.green {
		background-color: var(--green-500-color);
	}

	&.red {
		background-color: var(--red-500-color);
	}

	&.hidden {
		display: none;
	}
}

.label {
	z-index: 10;
}
