.benefits {
	@mixin responsive padding-block, 40, 80, 80;

	ul {
		justify-content: space-between;

		li {
			@mixin responsive width, 350, 282, 282;
		}
	}
}

.hero {
	@mixin responsive gap, 40, 80, 80;

	display: flex;
	flex-direction: column;
}

.experts {
	@mixin responsive padding-inline, 0, 153, 153;

	grid-template-columns: repeat(3, 1fr);

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
