.benefits {
	@mixin responsive padding-block-start, 40, 48, 48;
	@mixin responsive padding-block-end, 40, 48, 48;

	ul {
		justify-content: space-between;

		li {
			@mixin responsive width, 350, 282, 282;
		}
	}
}

.hero {
	padding-block: unset;

	display: flex;
	flex-direction: column;
}

.experts {
	@mixin responsive padding-inline, 0, 153, 153;

	grid-template-columns: repeat(3, 1fr);

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}

.expertsSolutions:has(h2) {
	@mixin responsive padding-block-start, 30, 48, 48;
	@mixin responsive padding-block-end, 30, 48, 48;
}

.documents:has(h2) {
	@mixin responsive padding-block-start, 30, 48, 48;
}

.helpful:has(h2) {
	@mixin responsive padding-block-end, 30, 48, 48;
}
