.root {
	@mixin responsive padding-block, 40, 80, 80;
	position: relative;
}

.titleBlock {
	@mixin res width, 100%, 83.33vw, 75rem;
	@mixin responsive padding-block-end, 20, 40, 40;

	margin-inline: auto;

	@media (max-width: 767px) {
		margin-inline: unset;
		padding-inline: 5.333rem;
	}
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin responsive padding-block-end, 8, 16, 16;
	@mixin font-h2;

	font-weight: 600;

	@media (max-width: 767px) {
		@mixin font-h4;
		font-weight: 600;
	}
}

.description {
	@mixin font-text20;

	@media (max-width: 767px) {
		@mixin font-text16;
	}
}

.card {
	@mixin responsive padding-inline, 20, 120, unset;
	@media (min-width: 1441px) {
		padding-inline: calc(8rem + (100vw - 1440px) / 2);
	}
}

.root::before,
.root::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 7rem;
	z-index: 2;
	pointer-events: none;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

.root::before {
	left: 0;
}

.root::after {
	right: 0;
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0)
	);
}

@media (min-width: 1441px) {
	.root::before,
	.root::after {
		width: calc(7rem + (100vw - 1440px) / 2);
	}
}

.listElement {
	flex-shrink: 0;

	@media (max-width: 767px) {
		@mixin responsive width, 320;
		scroll-snap-align: center;
	}
}
