.root {
	@mixin responsive padding-block, 40, 80, 80;
}

.titleBlock {
	@mixin res width, 100%, 83.33vw, 75rem;
	@mixin responsive padding-block-end, 20, 40, 40;

	margin-inline: auto;

	@media (max-width: 767px) {
		margin-inline: unset;
		padding-inline: 5.333rem;
	}
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin responsive padding-block-end, 16, 16, 16;
	@mixin font-h2;

	font-weight: 700;
}

.description {
	@mixin font-text20;
}

.employees {
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive padding-inline, 20, 120, 120;

	display: flex;
	overflow-x: scroll;
	scrollbar-width: none;

	@media (min-width: 1441px) {
		width: 75rem;
		margin-inline: auto;
		padding-inline: unset;
	}
}

.listElement {
	flex-shrink: 0;

	@media (max-width: 767px) {
		width: 89rem;
	}
}
