.root {
	@mixin responsive padding-block-start, 50, 80, 80;
	@mixin responsive padding-block-end, 40, 40, 40;
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 24, 24, 24;

	font-weight: 700;
	text-align: center;
}

.companies {
	display: flex;
	justify-content: space-around;

	@media (max-width: 767px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.company {
	@mixin responsive padding-block, 20, 40, 40;
	@mixin responsive padding-inline, 10, 17, 17;
	@mixin responsive gap, 10, 16, 16;

	display: flex;
	justify-content: center;
	align-items: center;
}
