.title {
	@mixin font-h2;
	@mixin res padding-block-end, 6.4rem, 1.667rem, 1.5rem;

	font-weight: 700;
	text-align: center;
}

.companies {
	display: flex;
	justify-content: space-around;
}

.company {
	@mixin res gap, 6.4rem, 1.667rem, 1.5rem;

	display: flex;
	justify-content: center;
	align-items: center;
}
