.root {
	@mixin responsive padding-block, 30, 72, 72;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 30, 40, 40;

	text-align: center;
	font-weight: 600;
}

.countries {
	@mixin responsive padding-block-end, 30, 40, 40;

	width: 100%;
	display: flex;
	justify-content: space-between;

	@media (max-width: 767px) {
		@mixin responsive gap, 20;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.others {
	@mixin font-text16;

	color: var(--gray-600-color);
}

.countryItem {
	@mixin responsive width, 150, 150, 150;
}
