.root {
	position: relative;

	@mixin res padding-block-start, 19.2rem, 5rem, 4.5rem;
	@mixin res margin-block-end, 38.4rem, 10rem, 9rem;
}

.card {
	@mixin res padding, 4.267rem, 2.778rem, 2.5rem;
	@mixin res gap, 10.667rem, 2.778rem, 2.5rem;
	@mixin res border-radius, 6.4rem, 1.667rem, 1.5rem;

	background-color: var(--gray-200-color);
	display: flex;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.image {
	@mixin res height, 121.867rem, 31.736rem, 28.563rem; /* 348px */

	bottom: 0;
	align-self: end;
	position: absolute;

	@media (max-width: 767px) {
		position: static;
		align-self: unset;
		height: auto;
	}
}

.review {
	@mixin res padding-inline-start, 10.667rem, 29.25rem, 29.25rem;
	@mixin res gap, 10.667rem, 0.694rem, 0.625rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 767px) {
		padding-inline: unset;
		padding-block-end: unset;
		padding-block-start: unset;
		margin-block-start: unset;
	}
}
