.logoHeader {
	display: block;
	position: relative;
	outline: none;

	@mixin responsive width, 85, 128, 128;
	@mixin responsive height, 55, 57, 57;
}

.icon {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;

	& path {
		@mixin transition;

		transition-property: fill;
	}
}

.icon.dark path {
	fill: var(--black-color) !important;
}

html[data-header-top-color='white'] .icon path {
	fill: var(--gray-100-color) !important;
}

@media (hover: hover) {
	html[data-header-top-color='white'] .icon:hover path {
		fill: var(--red-600-color) !important;
	}

	html[data-header-top-color='dark'] .icon:hover path {
		fill: var(--black-color) !important;
	}
}

