.root {
	display: flex;
	justify-content: start;
}

.button,
.panel,
.awards {
	z-index: 10;
}

.button {
	@mixin responsive margin-block-start, 24, 40, 40;
}

.awards {
	@mixin responsive column-gap, 56, 56, 56;
	@mixin responsive --column-width, 300, 300, 300;

	display: grid;
	grid-template-columns: repeat(3, var(--column-width)); /* 300px */

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 3.5rem; /* 56px */
	}
}
