.root {
	@mixin responsive padding-inline, 16, 24, 24;
	@mixin responsive padding-block, 16, 16, 16;
	@mixin responsive gap, 6, 12, 12;

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.progress {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--gray-300-color);
}

.wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;

	p:first-child {
		@mixin font-text16;
	}

	p:last-child {
		@mixin font-text20;

		font-weight: 500;
	}
}
