.root {
	display: flex;
	flex-direction: column;
	@mixin responsive padding-block-end, 60, 120, 120;
}

.title:has(+ .items) {
	@mixin responsive padding-block-end, 20, 48, 48;
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 10, 15, 15;
}

.title {
	@mixin font-h2;

	text-align: center;
	font-weight: 600;
}

.items {
	@mixin responsive gap, 10, 24, 24;

	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));

	@media (max-width: 767px) {
		@media (max-width: 767px) {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}
}

.items4cols {
	grid-template-columns: repeat(4, minmax(0, 1fr));

	@media (max-width: 767px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.items5cols {
	grid-template-columns: repeat(6, minmax(0, 1fr));

	@media (max-width: 767px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.items5cols > li {
	grid-column: span 2;

	@media (max-width: 767px) {
		grid-column: span 1;
	}
}

.items5cols > li:nth-child(4) {
	grid-column: 2 / span 2;

	@media (max-width: 767px) {
		grid-column: span 1;
	}
}

.description {
	@mixin font-text20;
	text-align: center;
}
