.root {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	:global(.swiper-button-next),
	:global(.swiper-button-prev) {
		&:after,
		&::before {
			display: none;
		}
	}

	:global(.swiper-pagination) {
		display: none;
		@media (max-width: 1024px) {
			display: none;
		}
		@media (max-width: 767px) {
			display: block;
			width: 100%;
			margin-inline-start: unset;
			bottom: 0% !important; /* 48px */
		}
	}
	:global(.swiper-pagination-bullet) {
		background-color: var(--gray-600-color);

		@media (max-width: 767px) {
			width: 1.867rem; /* 7px */
			height: 1.867rem; /* 7px */
			--swiper-pagination-bullet-horizontal-gap: 0.5rem;
		}
	}

	:global(.swiper-pagination-bullet-active) {
		background-color: var(--gray-800-color);
		opacity: 1;
	}
}

.card {
	box-sizing: border-box;
	@mixin responsive width, 330, 384, 384;
	@mixin responsive min-height, 600, 600, 600;
}
