.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive width, unset, 760, 760;
	margin-inline: auto;

	@media (max-width: 767px) {
		width: 100%;
		@mixin responsive padding-inline, 20, unset, unset;
	}
}

.vacancy {
	@mixin responsive margin-block-end, 36, 72, 72;
}

.tabs-container {
	display: flex;
	border: 1px solid var(--gray-300-color);
	@mixin responsive border-radius, 10, 10, 10;
	background-color: var(--gray-200-color);
	scrollbar-width: 0;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	flex-wrap: nowrap;
	white-space: nowrap;

	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
	@mixin responsive width, unset, 760, 760;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.few {
	width: unset;
}

.tabs {
	@media (max-width: 767px) {
		overflow-x: visible;
		flex-wrap: nowrap;
		white-space: nowrap;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.loader {
	@mixin responsive padding-block, 50, 200, 200;
}
