:root {
	@media (max-width: 767px) {
		--h1: 32px; /* 8.533rem */
		--h2: 24px; /* 6.4rem */
		--h3: 20px; /* 5.333rem */
		--h4: 18px; /* 4.8rem */
		--h5: 16px; /* 4.267rem */
		--h6: 16px; /* 4.267rem */
		--text20: 16px; /* 4.267rem */
		--text18: 16px; /* 4.267rem */
		--text16: 14px; /* 3.733rem */
		--text14: 14px; /* 3.733rem */
		--text12: 12px; /* 3.2rem */

		--h1-line-height: 1.25; /* 40px */
		--h2-line-height: 1.25; /* 40px */
		--h3-line-height: 1.25; /* 40px */
		--h4-line-height: 1.25; /* 30px */
		--h5-line-height: 1.3; /* 26 */
		--h6-line-height: 1.4; /* 26px */
		--text20-line-height: 1.5; /* 24px */
		--text18-line-height: 1.4; /* 25px */
		--text16-line-height: 1.5; /* 24px */
		--text14-line-height: 1.42; /* 20px */
		--text12-line-height: 1.5; /* 18px */

		--h2-letter-spacing: -1%;
	}

	@media (min-width: 768px) and (max-width: 899px) {
		--h1: 64px; /* 4.444rem */
		--h2: 30px; /* 2.778rem */
		--h3: 25px; /* 2.222rem */
		--h4: 19px; /* 1.667rem */
		--h5: 16px; /* 1.389rem */
		--h6: 15px; /* 1.25rem */
		--text20: 16px; /* 1.389rem */
		--text18: 15px; /* 1.25rem */
		--text16: 13px; /* 1.111rem */
		--text14: 11px; /* 0.972rem */
		--text12: 10px; /* 0.833rem */
	}

	@media (min-width: 900px) and (max-width: 1023px) {
		--h1: 64px; /* 4.444rem */
		--h2: 33px; /* 2.778rem */
		--h3: 25px; /* 2.222rem */
		--h4: 19px; /* 1.667rem */
		--h5: 18px; /* 1.389rem */
		--h6: 15px; /* 1.25rem */
		--text20: 17px; /* 1.389rem */
		--text18: 15px; /* 1.25rem */
		--text16: 14px; /* 1.111rem */
		--text14: 11px; /* 0.972rem */
		--text12: 10px; /* 0.833rem */
	}

	@media (min-width: 1024px) {
		--h1: 64px; /* 4.444rem */
		--h2: 35px; /* 2.778rem */
		--h3: 25px; /* 2.222rem */
		--h4: 20px; /* 1.667rem */
		--h5: 18px; /* 1.389rem */
		--h6: 15px; /* 1.25rem */
		--text20: 18px; /* 1.389rem */
		--text18: 16px; /* 1.25rem */
		--text16: 14px; /* 1.111rem */
		--text14: 12px; /* 0.972rem */
		--text12: 10px; /* 0.833rem */
	}

	@media (min-width: 1440px) {
		--h1: 64px; /* 4.444rem */
		--h2: 40px; /* 2.778rem */
		--h3: 32px; /* 2.222rem */
		--h4: 24px; /* 1.667rem */
		--h5: 20px; /* 1.389rem */
		--h6: 18px; /* 1.25rem */
		--text20: 20px; /* 1.389rem */
		--text18: 18px; /* 1.25rem */
		--text16: 16px; /* 1.111rem */
		--text14: 14px; /* 0.972rem */
		--text12: 12px; /* 0.833rem */
	}

	--h1-line-height: 1.12; /* 72px */
	--h2-line-height: 1.2; /* 48px */
	--h3-line-height: 1.25; /* 40px */
	--h4-line-height: 1.25; /* 30px */
	--h5-line-height: 1.3; /* 26px */
	--h6-line-height: 1.44; /* 26px */
	--text20-line-height: 1.6; /* 32px */
	--text18-line-height: 1.4; /* 26px */
	--text16-line-height: 1.5; /* 24px */
	--text14-line-height: 1.42; /* 20px */
	--text12-line-height: 1.5; /* 18px */

	--h2-letter-spacing: -1%;
}

:root:lang(hy) {
	@media (max-width: 767px) {
		--h1: 31px;
		--h2: 23px;
		--h3: 19px;
		--h4: 17px;
		--h5: 15px;
		--h6: 15px;
		--text20: 15px;
		--text18: 15px;
		--text16: 13px;
		--text14: 13px;
		--text12: 11px;
	}

	@media (min-width: 768px) and (max-width: 899px) {
		--h1: 63px;
		--h2: 29px;
		--h3: 24px;
		--h4: 18px;
		--h5: 15px;
		--h6: 14px;
		--text20: 15px;
		--text18: 14px;
		--text16: 12px;
		--text14: 10px;
		--text12: 9px;
	}

	@media (min-width: 900px) and (max-width: 1023px) {
		--h1: 63px;
		--h2: 32px;
		--h3: 24px;
		--h4: 18px;
		--h5: 17px;
		--h6: 14px;
		--text20: 16px;
		--text18: 14px;
		--text16: 13px;
		--text14: 10px;
		--text12: 9px;
	}

	@media (min-width: 1024px) {
		--h1: 63px;
		--h2: 34px;
		--h3: 24px;
		--h4: 19px;
		--h5: 17px;
		--h6: 14px;
		--text20: 17px;
		--text18: 15px;
		--text16: 13px;
		--text14: 11px;
		--text12: 9px;
	}

	@media (min-width: 1440px) {
		--h1: 63px;
		--h2: 39px;
		--h3: 31px;
		--h4: 23px;
		--h5: 19px;
		--h6: 17px;
		--text20: 19px;
		--text18: 17px;
		--text16: 15px;
		--text14: 13px;
		--text12: 11px;
	}
}

:root {
	--gray-100-color: #ffffff;
	--black-color: #212121;
	--gray-200-color: #f8f8f8;
	--gray-300-color: #ebebeb;
	--gray-400-color: #b9b9b9;
	--gray-500-color: #777777;
	--gray-600-color: #6b6b6b;
	--gray-700-color: #3e3e3e;
	--gray-800-color: #212121;
	--gray-900-color: #131313;
	--gray-1000-color: #000000;

	--red-50-color: #fef1e9;
	--red-100-color: #fde2d4;
	--red-200-color: #fbc0a9;
	--red-300-color: #f5937d;
	--red-400-color: #eb6a5b;
	--red-500-color: #df2c29;
	--red-600-color: #bf1d29;
	--red-700-color: #1f0808;
	--red-800-color: #ce1039;
	--red-900-color: #cd001e;

	--green-50-color: #eefde7;
	--green-100-color: #ddfbcf;
	--green-200-color: #b4f7a1;
	--green-300-color: #7fe86e;
	--green-400-color: #4fd148;
	--green-500-color: #17b31d;
	--green-550-color: #34ca2f;
	--green-600-color: #109922;

	--blue-100-color: #1a73e8;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@mixin responsive scroll-padding-top, 60, 120, 120;

	@media (max-width: 1440px) {
		font-size: 1vw;
	}

	@media (min-width: 1441px) {
		font-size: 14.4px;
	}
}

@font-face {
	font-family: 'InterLatin';
	src: url('/fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-052F, U+0590-FB12, U+FB18-10FFFF;
}

@font-face {
	font-family: 'InterLatin';
	src: url('/fonts/Inter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-052F, U+0590-FB12, U+FB18-10FFFF;
}

@font-face {
	font-family: 'InterLatin';
	src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-052F, U+0590-FB12, U+FB18-10FFFF;
}

@font-face {
	font-family: 'InterLatin';
	src: url('/fonts/Inter-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-052F, U+0590-FB12, U+FB18-10FFFF;
}

html:lang(hy) body {
	font-family: var(--font-armenian), var(--font-inter);
}

html:lang(ru) body {
	font-family: var(--font-inter);
}

html:lang(en) body {
	font-family: var(--font-neue-plak);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151515;
	margin: 0;
	font-weight: 400;
}

html,
body {
	scrollbar-gutter: stable;
}

.body {
	overscroll-behavior: none;
}

.p-32 {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-inline, 15, 32, 32;
	@mixin responsive padding-block, 15, 32, 32;

	@media (min-width: 768px) and (max-width: 899px) {
		padding-inline: 1.3rem;
		padding-block: 1.3rem;
	}
}

.p-40 {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-block, 20, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;

	@media (min-width: 768px) and (max-width: 899px) {
		padding-inline: 2rem;
		padding-block: 2rem;
	}
}

.hybrid {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-block, 20, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
	@mixin responsive width, unset, 1200, 1200; /* 1200px */
	margin-inline: auto;

	@media (max-width: 767px) {
		margin-inline: unset;
		width: 100%;
	}

	@media (min-width: 768px) and (max-width: 899px) {
		padding-inline: 2rem;
		padding-block: 2rem;
	}
}

.default {
	margin-inline: auto;
	@mixin responsive width, unset, 1200, 1200; /* 1200px */

	@media (max-width: 767px) {
		padding-inline: 5.333rem;
		margin-inline: unset;
		width: 100%;
	}
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

ol,
ul {
	list-style: none;
	line-height: normal;
}

a {
	color: unset;
	text-decoration: none;
}

button {
	border: none;
	background: none;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font: inherit;
	vertical-align: initial;
}

a,
button,
input,
label {
	-webkit-tap-highlight-color: transparent;
}

strong {
	font-weight: 700;
}
