.hero {
	@mixin responsive gap, 64, 48, 48;

	display: flex;
	flex-direction: column;
}

.teens {
	padding-block-end: unset;

	ul:has(> :nth-child(5)) {
		@mixin responsive max-width, 820, 820, 820;
		@mixin responsive row-gap, 20, 48, 48;

		flex-wrap: wrap;
		margin-inline: auto;
	}
}
