.root {
	@mixin responsive padding, 24, 32, 32;
	@mixin responsive border-radius, 24, 24, 24;

	position: relative;

	&.default {
		@mixin responsive --first-col, 476, 476, 476;
		@mixin responsive --second-col, 604, 604, 604;

		justify-content: space-between;
		width: 100%;
		display: grid;
		grid-template-columns: var(--first-col) var(--second-col);

		background:
			linear-gradient(0deg, #282828, #282828),
			linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			linear-gradient(93.77deg, #171717 0%, #1f1f1f 100%), #212121;
	}
}

.link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
