.items {
	@mixin responsive gap, 24, 24, 24;

	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.title {
	@mixin responsive padding-block-end, 20, 40, 40;
	@mixin font-h2;

	font-weight: 700;
	text-align: center;
}
