.root {
	@mixin responsive padding-block-end, 60, 120, 120;
}

.items {
	@mixin responsive gap, 18, 24, 24;

	display: flex;
	justify-content: center;
	align-items: start;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}
}

.item {
	@mixin responsive width, 200, 240, 240;
}

.title {
	@mixin responsive padding-block-end, 20, 48, 48;
	@mixin font-h2;

	font-weight: 600;
	text-align: center;
}
