.card {
	height: 100%;

	&.centered {
		display: flex;
		flex-direction: column;
		align-items: center;

		.title,
		.description {
			text-align: center;
		}
	}

	@media (max-width: 767px) {
		&.bigIcon {
			.icon {
				@mixin responsive width, 48;
				@mixin responsive height, 48;
				@mixin responsive margin-block-end, 16;
			}

			.title:has(+ p) {
				@mixin responsive padding-block-end, 12;
			}
		}
	}
}

.icon {
	@mixin responsive width, 30, 48, 48;
	@mixin responsive height, 30, 48, 48;
	@mixin responsive margin-block-end, 10, 24, 24;

	display: block;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.title {
	@mixin font-h5;

	font-weight: 600;
	color: var(--black-color);
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 3, 12, 12;
}

.description {
	@mixin font-text14;
	color: var(--gray-700-color);
}

.card.withShell {
	background-color: var(--gray-200-color);

	.icon {
		@mixin responsive margin-block-end, 15, 40, 40;
	}

	&.whiteBackground {
		background-color: var(--gray-100-color);
	}

	&.grayBackground {
		background-color: var(--gray-200-color);
	}
}
