.root {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, 40, 60, 60;
	@mixin responsive margin-block-end, 60, 120, 120;

	@media (max-width: 767px) {
		flex-direction: column-reverse;
	}

	@media (min-width: 768px) and (max-width: 899px) {
		gap: 1rem;
	}
}
