.root {
	@media (max-width: 767px) {
		width: 100%;
		padding-inline: 5rem;
	}
}

.wrap {
	position: relative;
	overflow: hidden;
	background: radial-gradient(
			circle at 70% center,
			#d42522 0%,
			#9e2e2c 5%,
			transparent 70%
		),
		linear-gradient(to right, #230302 0%, #230302 20%, #230302 50%);
	@mixin responsive margin-block-start, 40, 64, 64;
	@mixin responsive margin-block-end, 20, 24, 24;

	@mixin responsive height, 794.5, 496, 496;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-inline: 5rem;
	}
}

.firstIphone {
	position: absolute;
	@mixin responsive width, unset, 290, 290;
	@mixin responsive right, unset, 327, 327;
	@mixin responsive top, unset, 72, 72;
	z-index: 2;

	@media (max-width: 767px) {
		height: 88.867rem; /* 247px */
		margin-inline: auto;
		bottom: 54rem;
	}
}

.secondIphone {
	position: absolute;
	@mixin responsive width, unset, 290, 290;
	@mixin responsive right, unset, 82, 82;
	@mixin responsive top, unset, 98, 98;

	@media (max-width: 767px) {
		height: 88.867rem; /* 247px */
		margin-inline: auto;
		bottom: 62rem;
		right: 4rem;
	}
}
