.root {
	position: relative;
	overflow: hidden;
	background: radial-gradient(
			circle at 70% center,
			#d42522 0%,
			#9e2e2c 5%,
			transparent 70%
		),
		linear-gradient(to right, #230302 0%, #230302 20%, #230302 50%);
	@mixin res margin-block-start, 13.333rem, 4.444rem, 4rem; /* 50px 64px */
	@mixin res margin-block-end, 6.4rem, 1.667rem, 1.5rem; /* 24px */

	@mixin res height, unset, 34.444rem, 31rem; /* 496px */

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.firstIphone {
	position: absolute;
	@mixin res width, unset, 20.139rem, 18.125rem; /* 290px */
	@mixin res right, unset, 22.708rem, 20.438rem; /* 327px */
	@mixin res top, unset, 5rem, 4.5rem; /* 338px */
	z-index: 2;

	@media (max-width: 767px) {
		height: 107.867rem; /* 247px */
		margin-inline: auto;
		bottom: 54rem;
	}
}

.secondIphone {
	position: absolute;
	@mixin res width, unset, 20.139rem, 18.125rem; /* 290px */
	@mixin res right, unset, 5.694rem, 5.125rem; /* 82px */
	@mixin res top, unset, 6.806rem, 6.125rem; /* 98px */

	@media (max-width: 767px) {
		height: 107.867rem; /* 247px */
		margin-inline: auto;
		bottom: 62rem;
		right: 4rem;
	}
}
