.root {
	margin-inline: auto;
	@mixin responsive width, unset, 1200, 1200; /* 1200px */

	@media (max-width: 767px) {
		padding-inline: 5.333rem;
		margin-inline: unset;
		width: 100%;
	}
}

.full {
	width: 100%;
	padding-inline: 0;
	max-width: unset;
	margin-inline: unset;
}
