.main {
	margin-block-start: 120px;

	@media (max-width: 767px) {
		margin-block-start: 0;
	}
}

.divider {
	position: fixed;
	@mixin responsive top, 64, 80, 80;
	width: 100%;
	z-index: 101;
	@mixin responsive height, 1, 1, 1;
	background-color: var(--gray-600-color);
}

.spacing {
	@mixin responsive margin-block-start, 20, 20, 20;
}

html[data-header-top-color='white'] {
	.divider {
	}
}

html[data-header-top-color='dark'] {
	.divider {
		top: 0;
		@mixin responsive height, 70, 80, 80;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(6px);

		@media (max-width: 767px) {
			align-items: center;
		}
	}
}
