.main {
	margin-block-start: 120px;

	@media (max-width: 767px) {
		margin-block-start: 0;
	}
}

.spacing {
	@mixin responsive margin-block-start, 20, 20, 20;
}

.divider {
	background: transparent;
}

html[data-header-top-color='dark'] .divider {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 101;

	@mixin responsive height, 84, 85, 85;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(6px);

	@media (max-width: 767px) {
		align-items: center;
	}
}
