.root {
	@mixin responsive padding-block, 20, unset, unset;
	@mixin responsive padding-block-end, 20, 36, 36;

	position: relative;
}

.wrap {
	display: flex;
	position: relative;
	overflow: hidden;
	background: radial-gradient(
			circle at 87% 26%,
			#ffffff -1%,
			#d42522 -28%,
			transparent 6%
		),
		radial-gradient(
			circle at 92% center,
			#d42522 -4%,
			#9e2e2c -38%,
			transparent 38%
		);

	background-color: var(--red-700-color);

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		justify-content: end;
		padding: 5rem;
		border-radius: 4rem;
		height: 100.333rem; /* 500px */

		background: radial-gradient(
				circle at 83% 12%,
				#ffffff -9%,
				#9e2e2c 10%,
				#380b00 36%,
				transparent 52%
			),
			radial-gradient(
				circle at 74% center,
				#380b00 22%,
				#230302 66%,
				transparent 84%
			),
			linear-gradient(to right, #230302 24%, #230302 30%, #230302 50%);
	}
}

.contnet {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	z-index: 10;

	@media (max-width: 767px) {
		width: 100%;
		align-items: normal;
		order: 2;

		br {
			display: none;
		}
	}
}

.title {
	color: var(--gray-100-color);
}

.title {
	@mixin font-h2;
	font-weight: 600;
	@mixin responsive padding-block-end, 10, 16, 16;
}

.description {
	@mixin font-text20;
	@mixin responsive padding-block-end, 20, 62, 62;

	color: var(--gray-400-color);
}

.imgWrap {
	position: absolute;
	@mixin responsive width, unset, 635, 635;
	height: 100%;
	@mixin responsive right, unset, 0, 0;
	@mixin responsive top, unset, 0, 0;
	z-index: 0;

	@media (max-width: 767px) {
		right: -16rem;
		width: 132rem;
		top: -22rem;
	}
}

.image,
.image img {
	width: 100%;
	height: 100%;

	@media (max-width: 767px) {
		object-fit: contain;
	}
}

.title:has(+ .description) {
	@mixin responsive padding-block-end, 10, 16, 16;
}

.title:has(+ .button) {
	@mixin responsive padding-block-end, 40, 62, 62;
}

.button {
	position: relative;
	z-index: 2;
	justify-content: center;
}

.link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.background,
.background img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
