.root {
	background-color: var(--gray-200-color);
	@mixin responsive border-radius, 15, 32, 32;
}

.details[open] + .accordionContent {
	@mixin responsive padding-block-end, 15, 32, 32;
	grid-template-rows: 1fr;
	opacity: 1;
}

.details[open] .icon {
	rotate: 180deg;
}

.accordionContentBody {
	overflow: hidden;
}

.summary {
	all: unset;
	cursor: pointer;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@mixin responsive padding-inline, 15, 32, 32;
	@mixin responsive padding-block-start, 15, 32, 32;
	@mixin responsive padding-block-end, 15, 32, 32;

	&:active {
		background: none;
		outline: none;
		box-shadow: none;
		transform: none;
	}

	&::-webkit-details-marker {
		display: none;
	}
	&::-moz-list-bullet {
		list-style-type: none;
	}

	@media (max-width: 767px) {
		gap: 6rem;
	}
}

.accordionContent {
	@mixin transition;

	display: grid;
	grid-template-rows: 0fr;
	opacity: 0;
	transition-property: grid-template-rows opacity;
	@mixin responsive padding-inline, 15, 32, 32;
	padding-block-start: unset !important;
}

.accordionInnerContent {
	@mixin font-text16;
	ul {
		list-style: inside;
		padding-inline-start: 0.7rem;

		p {
			display: inline;
		}

		@media (max-width: 767px) {
			@mixin font-text14;
			padding-block: 2rem;
			padding-inline-start: 0;
			display: flex;
			flex-direction: column;
			gap: 2rem;
		}
	}

	p,
	li,
	span {
		@media (max-width: 767px) {
			@mixin font-text14;
		}
	}
}

.title {
	@mixin font-text20;
	font-weight: 500;

	@media (max-width: 767px) {
		@mixin font-text16;
		font-weight: 500;
	}
}

.icon {
	@mixin transition;
	@mixin responsive width, 26, 26, 26;
	@mixin responsive height, 26, 26, 26;

	rotate: 0;
	flex-shrink: 0;
	transition-property: rotate;
}
