.burger path {
	@mixin transition;

	transition-property: fill;
}

html[data-header-top-color='white'] .burger path {
	fill: var(--white-color);
}

html[data-header-top-color='dark'] .burger path {
	fill: var(--black-color);
}
