.root {
	@mixin responsive width, 219, 219, 219;
	@mixin responsive height, 140, 118, 118;

	& > div {
		width: 100%;
		height: 100%;
		overflow: visible !important;

		& > div {
			overflow: visible !important;
		}
	}

	justify-self: center;
	overflow: visible;

	@media (max-width: 767px) {
		width: 100%;
	}
}
