.root {
	@mixin responsive padding-block, 36, 36, 36;
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 20, 48, 48;

	text-align: center;
	font-weight: 600;
}

.content {
	@mixin responsive gap, 40, 64, 64;
	@mixin responsive --col-width, 568, 568, 568;

	display: grid;
	grid-template-columns: repeat(2, var(--col-width));

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.industries {
	@mixin responsive padding-block-end, 0, 24, 24;
}

.leftPart,
.rightPart {
	@mixin responsive gap, 32, 48, 48;

	display: flex;
	flex-direction: column;
}
