.root {
	position: relative;
	z-index: 10;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.description,
.title {
	h1,
	p {
		color: var(--gray-100-color);
		word-break: break-word;
		overflow-wrap: break-word;
		white-space: normal;
	}

	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.title {
	@mixin font-h1;

	h1,
	p {
		font-weight: 700;
	}

	&.profix {
		@mixin responsive padding-block-end, 5, 16, 16;

		font-weight: 700;
		color: var(--gray-100-color);
	}

	&.about {
		font-weight: 600;
	}

	&.default,
	&.about {
		@mixin responsive padding-block-end, 5, 24, 24;
	}
}

.description {
	@mixin font-text20;

	color: var(--gray-300-color);

	&.profix {
		@mixin font-text18;
		@mixin responsive padding-block-end, 64, 64, 64;

		color: var(--gray-400-color);
	}
}

.backButton {
	@mixin transition color;
	@mixin responsive margin-block-end, 41, 41, 41;

	svg path {
		@mixin transition fill;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--gray-400-color);

			svg path {
				fill: var(--gray-400-color);
			}
		}
	}
}

.icon {
	position: absolute;
	right: 0;
	top: 0;

	@mixin responsive width, 200, 200, 200;
	@mixin responsive height, 200, 200, 200;

	@media (max-width: 767px) {
		position: static;
		margin-inline: auto;
		margin-block-end: 10.067rem; /* 64px */
	}
}

.established {
	@mixin font-text14;
	@mixin responsive padding-inline, 8, 8, 8;
	@mixin responsive padding-block, 4, 4, 4;
	@mixin responsive border, 1, 1, 1;
	@mixin responsive border-radius, 4, 4, 4;
	@mixin responsive margin-block-end, 24, 24, 24;

	border-color: #ffffff99;
	border-style: solid;
	color: var(--gray-100-color);
	font-weight: 500;
}
