.root {
	position: relative;
	z-index: 10;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.description,
.title {
	
	h1,
	p {
		color: var(--gray-100-color);
	}

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.title {
	@mixin font-h1;

	font-weight: 700;

	&.profix {
		@mixin res padding-block-end, 4.267rem, 1.111rem, 1rem; /* 16px */
	}

	&.default,
	&.about {
		@mixin res padding-block-end, 6.4rem, 1.667rem, 1.5rem; /* 24px */
	}
}

.description {
	@mixin font-text20;

	color: var(--gray-300-color);

	&.profix {
		@mixin font-text18;
		@mixin res padding-block-end, 10.067rem, 4.444rem, 4rem; /* 64px */

		color: var(--gray-400-color);
	}
}

.backButton {
	@mixin res margin-block-end, 10.933rem, 2.847rem, 2.563rem; /* 41px */
}

.icon {
	position: absolute;
	right: 0;
	top: 0;

	@mixin res width, 53.333rem, 13.889rem, 12.5rem; /* 200px */
	@mixin res height, 53.333rem, 13.889rem, 12.5rem; /* 200px */

	@media (max-width: 767px) {
		position: static;
		margin-inline: auto;
		margin-block-end: 10.067rem; /* 64px */
	}
}

.established {
	@mixin font-text14;
	@mixin res padding-inline, 2.133rem, 0.556rem, 0.5rem; /* 8px */
	@mixin res padding-block, 1.067rem, 0.278rem, 0.25rem; /* 4px */
	@mixin res border, 0.063rem, 0.063rem, 0.063rem; /* 1px */
	@mixin res border-radius, 1.067rem, 0.278rem, 0.25rem; /* 4px */
	@mixin res margin-block-end, 6.4rem, 1.667rem, 1.5rem; /* 24px */

	border-color: var(--gray-100-color);
	border-style: solid;
	color: var(--gray-100-color);
	font-weight: 500;
}
