.root {
	@mixin font-text16;
	@mixin transition;

	transition-property: background-color color;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.filled,
.outline {
	@mixin responsive padding-inline, 24, 24, 24;
	@mixin responsive padding-block, 8, 8, 8;
	@mixin responsive border-radius, 12, 12, 12;
}

.filled {
	color: white;
	background-color: #df2c29;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: #bf1d29;
			}
		}
	}
}

.outline {
	border: var(--red-500-color) solid 0.063rem;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				color: #bf1d29;
				border: #bf1d29 solid 0.063rem;
			}
		}
	}
}

.subtle {
	background-color: transparent;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: transparent;
				color: #bf1d29;
			}
		}
	}
}

.next {
	@mixin responsive gap, 8, 8, 8;

	color: #bf1d29;

	.icon path {
		fill: #bf1d29;
	}

	background-color: transparent;
	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: transparent;
				color: #bf1d29;
			}
		}
	}
}

.back {
	@mixin responsive gap, 8, 8, 8;

	background-color: transparent;
	color: gray;
}

.icon {
	@mixin res width, 6.4rem, 1.667rem, 1.5rem;
}

.root.default {
	padding-block: unset; /* 8px */
}

.root.big {
	@mixin responsive padding-block, 16, 16, 16;
	@mixin responsive padding-inline, 24, 24, 24;
}
