.root {
	@mixin font-text16;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.filled,
.outline {
	padding-inline: 1.5rem; /* 24px */
	border-radius: 0.75rem; /* 12px */
}

.filled {
	color: white;
	background-color: #df2c29;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: #bf1d29;
			}
		}
	}
}

.outline {
	border: white solid 0.063rem;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				color: #bf1d29;
				border: #bf1d29 solid 0.063rem;
			}
		}
	}
}

.subtle {
	background-color: transparent;
	color: #000000;

	&:not(:disabled) {
		opacity: 1;
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				background-color: transparent;
				color: #bf1d29;
			}
		}
	}
}

.back {
	background-color: transparent;
	color: gray;
	gap: 0.5rem; /* 8px */
}

.icon {
	width: 1.5rem;
}

.root.default {
	padding-block: 0.5rem; /* 8px */
}

.root.big {
	padding-block: 1rem; /* 16px */
}
