.circle {
	@mixin responsive width, 3.2rem, 0.833rem, 0.75rem;
	@mixin responsive height, 3.2rem, 0.833rem, 0.75rem;
	@mixin responsive margin-block, 1.867rem, 0.472rem, 0.438rem;

	border-radius: 100%;
	background-color: gray;

	&.filled {
		background-color: white;
	}
}

.title {
	@mixin responsive gap, 2.133rem, 0.556rem, 0.5rem;

	display: flex;
}

.description {
	@mixin font-text16;

	color: gray;
}

.list {
	@mixin responsive gap, 2.133rem, 0.556rem, 0.5rem;

	display: flex;
	flex-direction: column;
}
