.circle {
	@mixin res width, 3.2rem, 0.833rem, 0.75rem; /* 12px */
	@mixin res height, 3.2rem, 0.833rem, 0.75rem; /* 12px */
	@mixin res margin-block, 1.867rem, 0.472rem, 0.438rem; /* 7px */

	border-radius: 100%;
	background-color: var(--gray-400-color);

	&.filled {
		background-color: var(--white-color);
	}
}

.title {
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 8px */

	display: flex;
}

.description {
	@mixin font-text16;

	color: var(--gray-400-color);
}

.list {
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 6px */

	display: flex;
	flex-direction: column;
}
