.circle {
	@mixin responsive width, 12, 12, 12;
	@mixin responsive height, 12, 12, 12;
	@mixin responsive margin-block, 7, 7, 7;

	border-radius: 100%;
	background-color: var(--gray-400-color);

	&.filled {
		background-color: var(--gray-100-color);
	}
}

.title {
	@mixin responsive gap, 8, 8, 8;

	display: flex;
}

.description {
	@mixin font-text16;

	color: var(--gray-400-color);
}

.list {
	@mixin responsive gap, 8, 8, 8;

	display: flex;
	flex-direction: column;
}
