.root {
	display: flex;
	flex-direction: column;
	@mixin responsive max-width, unset, 525, 525;
	height: 100%;
}

.icon {
	height: auto;
	@mixin responsive width, 60, 80, 80;
	@mixin responsive padding-block-end, 20, 40, 40;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	color: var(--gray-100-color);
	@mixin responsive padding-block-end, 10, 16, 16;
}

.description {
	@mixin font-text16;
	color: var(--gray-200-color);
}

.bottomWrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-block-start: auto;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}
}

.button {
	@media (max-width: 767px) {
		width: 100%;
	}
}

.app {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@mixin responsive gap, 4, 12, 12;
	@mixin responsive padding-block, 4, 9, 9;
	@mixin responsive padding-inline, 4, 9, 9;
	@mixin responsive border-radius, 12, 12, 12;
	background-color: #ffffff26;
	border: 1px solid var(--gray-200-color);

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		width: min-content;

		br {
			display: none;
		}
	}
}

.preview {
	@mixin font-text12;
	color: var(--gray-100-color);

	@media (max-width: 767px) {
		order: 2;
	}
}

.store {
	@mixin responsive height, 38, 38, 38;
	@mixin responsive gap, 8, 8, 8;
}
