.root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.icon {
	height: auto;
	@mixin responsive width, 60, 80, 80;
	@mixin responsive padding-block-end, 20, 40, 40;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	color: var(--gray-100-color);
	@mixin responsive padding-block-end, 10, 16, 16;
	word-break: break-word;
}

.description {
	@mixin responsive max-width, 336, 336, 336;
	@mixin responsive padding-block-end, unset, 128, 128;
	@mixin font-text16;

	color: var(--gray-100-color);
	opacity: 0.7;

	@media (max-width: 767px) {
		padding-block-end: unset;
		max-width: unset;
	}
}

.bottomWrap {
	@mixin responsive gap, 16, 24, 24;

	display: flex;
	flex-direction: row;
	margin-block-start: auto;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		gap: 4rem;
	}
}

.button {
	position: relative;
	z-index: 2;
	justify-content: center;
	@media (max-width: 767px) {
		width: 100%;
	}
}

.app {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	@mixin responsive gap, 4, 12, 12;
	@mixin responsive padding-block, 4, 12, 12;
	@mixin responsive padding-inline, 4, 12, 12;
	@mixin responsive border-radius, 12, 12, 12;
	@mixin responsive border-width, 1, 1, 1;
	background-color: #ffffff26;
	border-color: #ffffff33;
	border-style: solid;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		width: min-content;

		br {
			display: none;
		}
	}
}

.preview {
	@mixin font-text12;

	color: var(--gray-100-color);
	opacity: 0.7;

	@media (max-width: 767px) {
		order: 2;
		max-width: unset;
	}
}

.store {
	@mixin responsive height, 38, 38, 38;
	@mixin responsive gap, 8, 8, 8;
}
