.root {
	display: flex;
	flex-direction: row;

	@media (max-width: 767px) {
		display: none;
	}
}

.links {
	display: flex;
	flex-direction: row;
	gap: 2.778rem; /* 40px */
}

.link {
	@mixin font-text16;
}

html[data-header-top-color='white'] .link {
	color: var(--gray-100-color);
}

html[data-header-top-color='dark'] .link {
	color: var(--black-color);
}
