.root {
	display: flex;
	flex-direction: row;

	@media (max-width: 767px) {
		display: none;
	}
}

.links {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, unset, 40, 40;
}

.active {
	color: var(--red--600-color);
}

.li {
	width: fit-content !important;
}

.link {
	@mixin font-text16;
	font-weight: 500;
}

html[data-header-top-color='white'] .link {
	color: var(--gray-100-color);
}

html[data-header-top-color='dark'] .link {
	color: var(--black-color);
}

html[data-header-top-color='white'] .active {
	color: var(--red-500-color);
}

html[data-header-top-color='dark'] .active {
	color: var(--red-500-color);
}
