.experience,
.position {
	@mixin font-text16;

	color: var(--gray-700-color);
	opacity: 0.7;
}

.position {
	@mixin responsive padding-block-end, 10, 16, 16;
}

.fullName {
	@mixin responsive padding-block-end, 4, 4, 4;
	@mixin font-text18;
	font-weight: 600;
}
