.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@mixin responsive padding-block, 30, 72, 72;

	@media (max-width: 767px) {
		align-items: normal;
	}
}

.title {
	@mixin font-h2;
	font-weight: 600;
	@mixin responsive padding-block-end, 20, 40, 40;

	@media (max-width: 767px) {
		text-align: center;
	}
}

.button {
	justify-content: center;
}
