.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-inline: auto;
	@mixin responsive width, unset, 1200, 1200; /* 1200px */

	@media (max-width: 767px) {
		padding-inline: 5.333rem;
		margin-inline: unset;
		width: 100%;
	}
}

.title,
.description {
	text-align: center;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.title {
	@mixin responsive max-width, 0, 800, 800;
	@mixin responsive padding-block-end, 12, 48, 48;
	@mixin font-h2;

	font-weight: 600;
	scroll-margin-top: 50vh;

	@media (max-width: 767px) {
		max-width: 100%;
	}
}

.description {
	@mixin font-text20;
	@mixin responsive max-width, 0, 700, 700;

	@media (max-width: 767px) {
		max-width: 100%;
	}

	a {
		@mixin transition;

		color: var(--red-500-color);
		text-decoration: underline;

		@media (hover: hover) {
			&:hover {
				color: var(--red-600-color);
			}
		}
	}
}
