.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-inline: auto;
}

.title,
.description {
	text-align: center;

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.title {
	@mixin responsive max-width, 0, 800, 820;
	@mixin responsive padding-block-end, 12, 24, 24;
	@mixin font-h2;

	font-weight: 600;
	scroll-margin-top: 50vh;

	@media (max-width: 767px) {
		max-width: 100%;
	}
}

.description {
	@mixin font-text20;
	@mixin responsive max-width, 0, 700, 720;

	@media (max-width: 767px) {
		max-width: 100%;
	}

	a {
		@mixin transition;

		color: var(--red-500-color);
		text-decoration: underline;

		@media (hover: hover) {
			&:hover {
				color: var(--red-600-color);
			}
		}
	}
}
