.root {
	@mixin responsive border-radius, 15, 24, 24;
	@mixin responsive padding-inline, 10, 32, 32;
	@mixin responsive padding-block, 10, 19, 19;
	@mixin responsive gap, 16, 16, 16;
	@mixin transition;

	transition-property: background-color;
	background-color: var(--gray-200-color);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (hover: hover) {
		&:hover {
			background-color: var(--gray-300-color);
		}
	}
}

.link {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.button {
	z-index: 100;
}

.title {
	@mixin font-text16;

	font-weight: 500;
}
