.root {
	@mixin responsive padding-block-start, 64, 80, 80;

	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.root.default[data-align='start'] {
	justify-content: start;
	@mixin responsive padding-block-start, 105, 186, 186;
}

.root.default[data-align='center'] {
	justify-content: center;
	@mixin responsive padding-block-end, 80, unset, unset;

	@media (max-width: 767px) {
		justify-content: end;
	}
}

.root.default[data-align='end'] {
	@mixin responsive padding-block-end, 32, 100, 100;
	justify-content: end;
}

.root.default {
	@mixin responsive min-height, 700, 700, 900;

	@media (max-width: 1000px) {
		min-height: 425px;
	}

	@media (max-width: 767px) {
		min-height: 100svh;
	}

	.head {
		@mixin responsive width, 335, 863, 863;

		@media (max-width: 767px) {
			width: 100%;
		}
	}
}

.root.about {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-block-end: 2rem;

		@media (max-width: 767px) {
			height: unset;
			margin-block-end: 10rem;
		}
	}
	.head {
		@mixin responsive width, 680, 680, 680;
		@mixin responsive padding-block-end, 30, 70, 70;

		@media (max-width: 767px) {
			width: 100%;
		}

		@media (min-width: 768px) and (max-width: 899px) {
			width: 59rem;
		}
	}
}

.root.profix {
	@mixin responsive padding-block-start, 80, 120, 120;
	padding-block-end: 5rem; /* 80px */
	background:
		radial-gradient(
			47.29% 79.37% at 85.35% 76.84%,
			rgba(223, 44, 41, 0.25) 0%,
			rgba(223, 44, 41, 0) 100%
		),
		linear-gradient(93.77deg, #171717 0%, #1f1f1f 100%), #ffffff;

	.content {
		@media (max-width: 767px) {
			padding-inline: unset;
		}
	}
}

.content {
	z-index: 100;
}

.poster,
.poster img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}

.poster img {
	object-position: right;
}
