.root {
	position: relative;
	display: flex;
	flex-direction: column;
}

.root.default[data-align='start'] {
	justify-content: start;
	@mixin res padding-block-start, 28rem, 12.917rem, 11.625rem; /* 186px */
}

.root.default[data-align='center'] {
	justify-content: center;
}

.root.default[data-align='end'] {
	justify-content: end;
	@mixin res padding-block-end, 8.533rem, 6.944rem, 6.25rem; /* 100px */
}

.root.default {
	height: 100vh;
}

.root.about {
	@mixin res padding-block-start, 30.333rem, 12.5rem, 11.25rem; /* 180px */
	@mixin res padding-block-end, 8rem, 7.361rem, 6.625rem; /* 106px */

	min-height: 100vh;

	.content {
		display: flex;
		flex-direction: column;
		@mixin res gap, 37.333rem, 9.722rem, 8.75rem; /* 140px */
	}
}

.root.profix {
	padding-block-start: 7.5rem; /* 120px */
	padding-block-end: 5rem; /* 80px */
}

.content {
	z-index: 100;
}

.poster,
.poster img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
