.root {
	position: relative;
	display: flex;
	flex-direction: column;
}

.root[data-align='start'] {
	justify-content: start;
	padding-block-start: 11.625rem; /* 186px */
}

.root[data-align='center'] {
	justify-content: center;
}

.root[data-align='end'] {
	justify-content: end;
	padding-block-end: 6.25rem; /* 100px */
}

.root.medium {
	height: 100vh;
}

.root.large {
	height: 59.875rem; /* 958px */
}

.root.small {
	height: 34.188rem; /* 547px */
}

.content {
	z-index: 100;
}

.poster,
.poster img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
