.root {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 767px) {
		display: none;
	}
}

.dropdown {
	@mixin font-text16;
}

.wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0.139rem; /* 2px */
}

.selected {
	justify-content: center;
	flex-direction: row;
	display: flex;
	background-color: transparent;
	cursor: pointer;
}

.options {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--white-color);
	color: var(--black-color);
	@mixin res height, 36.267rem, 9.444rem, 8.5rem;
	@mixin res border-radius, 3.2rem, 0.833rem, 0.75rem; /* 12px */
	@mixin res top, unset, 4.167rem, 3.75rem;
	z-index: 10;
}

.option {
	padding-inline: 1.111rem; /* 16px */
	padding-block: 0.556rem; /* 8px */
	cursor: pointer;
	transition: background-color 0.2s;
}

.option:hover {
	background-color: #f0f0f0;
}

.arrow {
	transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.rotated {
	transform: rotate(180deg);
}
