.wrap {
	display: flex;
	flex-direction: column;
	margin-inline: auto;
	@mixin responsive max-width, unset, 960, 960;
	@mixin responsive padding-block-start, 140, 152, 152;
	text-align: center;

	@media (max-width: 767px) {
		@mixin responsive padding-inline, 20;
		width: 100%;
	}
}

.title,
.description {
	@mixin responsive max-width, 320, 960, 960;

	margin-inline: auto;

	@media (max-width: 767px) {
		max-width: unset;
	}
}

.title {
	@mixin font-h1;
	font-weight: 700;
	color: var(--gray-800-color);
	@mixin responsive padding-block-end, 10, 16, 16;
}

.description {
	@mixin responsive padding-block-end, 50, 48, 48;
	@mixin font-h6;
	color: var(--gray-600-color);
}

.wrap:has(+ .imageWrap) {
	@mixin responsive padding-block-end, 20, 48, 48;
}

.wrap:has(+ .root) {
	padding-block-end: unset;
}

.imageWrap {
	margin-inline: auto;
	overflow: hidden;
	@mixin responsive width, 335, 960, 960;
	@mixin responsive height, 200, 560, 560;
	@mixin responsive border-radius, 24, 24, 24;
}

.img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.root {
	@mixin responsive padding-block-start, 36, 72, 72;
	@mixin responsive padding-block-end, 30, 48, 48;
	padding-inline: unset;
}

.authorBottom {
	@mixin responsive padding-block-end, 20, 48, 48;
}

.news {
	@mixin responsive padding-block-end, 30, 8, 8;
	@mixin responsive padding-block-start, 60, unset, unset;
}
