.root {
	@mixin responsive gap, 15, 32, 32;

	display: flex;
	align-items: center;

	@media (max-width: 767px) {
		flex-wrap: wrap;
	}
}

.paragraph {
	display: flex;
	flex-direction: column;
}

.description {
	@mixin font-text14;

	color: var(--gray-200-color);
	opacity: 0.7;
}

.label {
	@mixin font-text16;

	font-weight: 500;
	color: var(--gray-100-color);
}

.risk {
	@mixin responsive gap, 10;

	justify-content: space-between;
}

.risks {
	@mixin responsive margin-block-start, 5, 5, 5;
	@mixin responsive margin-block-end, -2, 12, 12;
	@mixin responsive gap, 8, 8, 8;

	display: flex;
	align-items: center;
}

.circle {
	@mixin responsive width, 8, 8, 8;
	@mixin responsive height, 8, 8, 8;

	border-radius: 100%;
	background-color: var(--gray-400-color);

	&.painted {
		background-color: var(--gray-100-color);
	}
}

.annualReturn {
	@mixin responsive gap, 8, 8, 8;

	display: flex;
	align-items: center;
}

.value {
	@mixin responsive font-size, 24, 42, 42;

	color: var(--red-500-color);
	font-weight: 700;

	&.positive {
		color: var(--green-550-color);
	}

	@media (max-width: 767px) {
		font-size: 24px;
	}
}
