.root {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@mixin responsive padding-block, 30, 36, 36;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 3rem;
	}
}

.serve {
	display: flex;
	width: 100%;
	justify-content: end;
	align-items: center;
	@mixin font-h2;
	font-weight: 600;

	@media (max-width: 767px) {
		justify-content: center;
	}

	@media (min-width: 768px) and (max-width: 899px) {
		font-size: 23px !important;
	}
}

.animationText {
	@media (max-width: 767px) {
		min-height: 11rem;
	}
}
