.percentData {
	@mixin res gap, 3.2rem, 0.833rem, 0.75rem;

	display: flex;
	align-items: center;
}

.percent {
	@mixin res font-size, 12.8rem, 3.333rem, 3rem;

	line-height: 0.95;
	color: var(--green-550-color);
}

.percentText {
	@mixin font-text16;
	color: var(--gray-400-color);
}
