.percentData {
	@mixin responsive gap, 0, 12, 12;

	display: flex;
	align-items: end;
	align-self: end;

	@media (max-width: 767px) {
		flex-direction: column;
		align-items: center;
		align-self: center;

		br {
			display: none;
		}
	}
}

.percent {
	@mixin responsive font-size, 24, 48, 48;

	line-height: 0.95;
	color: var(--green-550-color);

	&.negative {
		color: var(--red-500-color);
	}
}

.percentText {
	@mixin font-text16;
	width: fit-content;
	color: var(--gray-400-color);
}
