.root {
	@mixin responsive padding-block, 30, 72, 72;
}

.documents {
	@mixin res gap, 6.4rem, 1.667rem, 1.5rem;

	display: grid;

	@media (max-width: 767px) {
		grid-template-columns: 1fr !important;
	}

	&.centered {
		display: flex;
		justify-content: center;

		li {
			@mixin responsive width, 320, 588, 588;
		}
	}
}

.title {
	@mixin font-h2;
	@mixin responsive max-width, 320, 640, 640;

	scroll-margin-top: 50vh;
	font-weight: 600;
	text-align: center;
}

.titleBlock:has(+ .documents) {
	@mixin responsive padding-block-end, 20, 40, 40;
}

.titleBlock {
	@mixin responsive gap, 10, 16, 16;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.description {
	@mixin responsive max-width, 320, 640, 640;
	@mixin font-text20;

	text-align: center;
	color: var(--gray-700-color);
}
