.root {
	@mixin responsive gap, 16, 24, 24;

	display: flex;
	flex-direction: column;
}

.title {
	@mixin font-h4;

	font-weight: 600;
}

.list {
	@mixin responsive gap, 16, 24, 24;

	display: flex;
	flex-direction: column;
}
