.root {
	display: flex;
	position: relative;
	flex-direction: column;
	overflow: hidden;
	background-color: var(--gray-200-color);
	@mixin responsive width, 336, 384, 384;

	@mixin responsive border-radius, 24, 24, 24;
}

.textWrap {
	display: flex;
	flex-direction: column;
	@mixin responsive padding-inline, 22, 32, 32;
	@mixin responsive padding-block-start, 22, 32, 32;
}

.wrap {
	display: flex;
	flex-direction: row;
	@mixin responsive padding-inline, 22, 32, 32;
	@mixin responsive padding-block-end, 22, 32, 32;
}

.poster {
	@mixin responsive height, 200, 400, 400;
	width: 100%;

	img {
		width: 100%;
		height: 100%;
	}
}

.time {
	@mixin font-text14;
	color: var(--gray-500-color);
	@mixin responsive margin-block-end, 10, 16, 16;
}

.header {
	position: relative;
	@mixin responsive padding-block-end, 10, 12, 12;
}

.title {
	@mixin font-h5;
	font-weight: 600;

	color: var(--gray-800-color);

	@media (min-width: 1441px) {
		@mixin font-h6;
		font-weight: 600 !important;
	}
}

.description {
	@mixin font-text16;
	color: var(--gray-700-color);
	@mixin responsive margin-block-end, 20, 24, 24;

	@media (max-width: 767px) {
		@mixin font-text14;
	}

	@media (min-width: 1441px) {
		@mixin font-text14;
	}
}

.wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-block-start: auto;

	@media (max-width: 1000px) {
		gap: 1.667rem;
	}
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.authorWrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	@mixin responsive gap, 10, 8, 8;
}

.mediaAuthorWrap {
	@mixin responsive gap, 10, 20, 20;
}

.imgWrap {
	@mixin responsive width, 40, 32, 32;
	@mixin responsive height, 40, 32, 32;
}

.mediaImgWrap {
	@mixin responsive width, 32, 70, 70;
	@mixin responsive height, 32, 70, 70;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.name {
	@mixin font-text14;
	text-align: start;
}

.tag {
	@mixin font-text12;
	font-weight: 700;
	color: var(--gray-500-color);
	@mixin responsive padding-block, 4, 4, 4;
	@mixin responsive padding-inline, 8, 8, 8;
	@mixin responsive border-radius, 8, 8, 8;
	border: 0.069rem solid var(--gray-300-color);

	@media (max-width: 767px) {
		border: 0.569rem solid var(--gray-300-color);
		font-weight: 600;
	}
}

.linkTitle,
.cursor,
.link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.link:active {
	cursor: grabbing;
}

.link {
	z-index: 3;

	cursor: grab;
}

.cursor {
	z-index: 3;

	cursor: pointer;
}

.linkTitle {
	z-index: 4;
	cursor: pointer;
}

.armbrokMediaTitle {
	@mixin font-h3;
	font-weight: 600;
	@media (max-width: 767px) {
		@mixin font-h5;
	}
}

.armbrokMediaRoot {
	@mixin responsive width, 336, 760, 760;
	padding: unset;
}
