.root {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
	background-color: var(--gray-200-color);
}

.time {
	@mixin font-text14;
	color: var(--gray-500-color);
	@mixin res padding-block-end, 2.667rem, 1.111rem, 1rem; /* 10px 16px */
}

.title {
	@mixin font-h5;
	font-weight: 600;
	color: var(--gray-800-color);
	@mixin res padding-block-end, 3.2rem, 0.833rem, 0.75rem; /* 20px, 24px */
}

.description {
	@mixin font-text16;
	color: var(--gray-700-color);
	@mixin res padding-block-end, 5.333rem, 1.667rem, 1.5rem; /* 20px, 24px */
}

.wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media (max-width: 1000px) {
		flex-direction: column;
		align-items: baseline;
		gap: 5.667rem; /* 40px */
	}
}

.authorWrap {
	display: flex;
	flex-direction: row;
	@mixin res gap, 2.133rem, 0.556rem, 0.5rem; /* 8px */
}

.imgWrap {
	@mixin res width, 8.533rem, 2.222rem, 2rem; /* 32px */
	@mixin res height, 8.533rem, 2.222rem, 2rem; /* 32px */
}

.avatar {
	border-radius: 50%;
}

.tag {
	@mixin font-text12;
	font-weight: 700;
	color: var(--gray-500-color);
	@mixin res padding-block, 1.067rem, 0.278rem, 0.25rem; /* 4px */
	@mixin res padding-inline, 2.133rem, 0.556rem, 0.5rem; /* 8px */
	@mixin res border-radius, 2.133rem, 0.556rem, 0.5rem; /* 8px */
	border: 0.069rem solid var(--gray-500-color);
}
