.sectionTitle {
	@mixin font-h2;
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem;

	font-weight: 600;
	text-align: center;
}

.cards {
	@mixin res gap, 4.067rem, 4.444rem, 4rem;

	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media (max-width: 767px) {
		row-gap: 6.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
}
