:root {
	--white-color: #ffffff;
	--black-color: #212121;
	--gray-200-color: #f8f8f8;
	--gray-300-color: #ebebeb;
	--gray-400-color: #b9b9b9;
	--gray-500-color: #777777;
	--gray-600-color: #6b6b6b;
	--gray-700-color: #3e3e3e;
	--gray-900-color: #131313;

	--red-50-color: #fef1e9;
	--red-100-color: #fde2d4;
	--red-200-color: #fbc0a9;
	--red-300-color: #f5937d;
	--red-400-color: #eb6a5b;
	--red-500-color: #df2c29;
	--red-600-color: #bf1d29;
	--red-700-color: #1f0808;

	--green-50-color: #eefde7;
	--green-100-color: #ddfbcf;
	--green-200-color: #b4f7a1;
	--green-300-color: #7fe86e;
	--green-400-color: #4fd148;
	--green-500-color: #17b31d;
	--green-600-color: #109922;
}
