.root {
	display: flex;
	flex-direction: column;
	background-color: var(--gray-200-color);
	@mixin responsive width, unset, 385, 385;
	@mixin responsive padding, 16, 32, 32;
}

.title {
	@mixin font-h4;
	font-weight: 600;
	@mixin responsive padding-block-end, 8, 8, 8;
}

.description {
	@mixin font-text16;
	color: var(--gray-700-color);
	@mixin responsive padding-block-end, 15, 24, 24;
}

.imageWrap {
	overflow: hidden;
	@mixin responsive border-radius, 20, 24, 24;
	@mixin responsive width, 300, 321, 321;
	@mixin responsive height, 657, 689, 689;
	margin-block-start: auto;
}

.image {
	object-fit: fill;
	width: 100%;
	height: 100%;
}
