.root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	@mixin responsive border-radius, 24, 24, 24;
	background: linear-gradient(to right, #171717 0%, #333333 100%);
	@mixin responsive gap, 5, 8, 8;
}

.title {
	@mixin font-h3;
	font-weight: 600;
	color: var(--gray-100-color);
	text-align: left;

	html[lang='hy'] & {
		@mixin font-h4;
		font-weight: 600;
	}
}

.description {
	@mixin font-text16;
	color: var(--gray-300-color);
}
