.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@mixin responsive padding-block-start, 50, 72, 72;
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	@mixin responsive padding-block-end, 10, 16, 16;
}

.description {
	@mixin font-text20;
	color: var(--gray-500-color);
	@mixin responsive padding-block-end, 30, 40, 40;
}
