.root {
	padding-block: 2.267rem;
	padding-inline: 5.333rem;
	border-bottom: 0.267rem solid var(--gray-200-color);
	justify-content: space-between;
}

.root,
.leftPart,
.rightPart {
	display: flex;
	align-items: center;
}

.leftPart {
	gap: 5.267rem;
}

.rightPart {
	gap: 5.533rem;
}

.search {
	svg path {
		fill: var(--gray-800-color);
	}
}

.lang ul {
	right: 5%;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}
