.root {
	padding-block: 4.267rem; /* 16px */
	padding-inline: 5.333rem; /* 20px */
	border-bottom: 0.267rem solid var(--gray-200-color);
	justify-content: space-between;
}

.root,
.leftPart,
.rightPart {
	display: flex;
	align-items: center;
}

.leftPart {
	gap: 7.267rem; /* 16px */
}

.rightPart {
	gap: 6.533rem; /* 32px */
}

.search {
	svg path {
		fill: var(--gray-800-color);
	}
}

.lang ul {
	right: 5%;
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}
