.root {
	@mixin transition;
	@mixin responsive border-radius, 16, 16, 16;
	@mixin responsive padding, 16, 24, 24;
	@mixin responsive gap, 24, 24, 24;
	@mixin responsive --shadow, 48, 48, 48;

	transition-property: all;
	position: fixed;
	z-index: 1000;
	bottom: 1%;
	left: 50%;
	translate: -50% 0%;
	background-color: var(--gray-100-color);
	display: flex;
	align-items: center;
	outline: none;
	box-shadow: 0 0 var(--shadow) -12px #101828;
	opacity: 0;
	pointer-events: none;

	&::backdrop {
		background: unset;
		width: 0;
		height: 0;
	}

	@media (max-width: 767px) {
		flex-direction: column;
		width: 89rem;
		bottom: 0;
		translate: -50% -20%;
	}
}

.root[open] {
	@mixin transition;
	
	transition-property: all;
	opacity: 1;
	pointer-events: auto;
	translate: -50% -50%;
}

.about {
	@mixin responsive gap, 10, 2, 2;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.summary,
.about {
	@mixin font-text14;

	color: var(--gray-700-color);

	a {
		outline: none;
		text-decoration: underline;
	}
}

.button {
	@media (max-width: 767px) {
		width: 100%;
	}
}
