.root {
	display: flex;
	@mixin responsive gap, 8, 8, 8;
}

.link {
	@mixin responsive height, 38, 38, 38;

	@mixin responsive border-radius, 9999, 9999, 9999;
	overflow: hidden;
}

.svg {
	height: 100%;
}
