.root {
	@mixin responsive padding-block-end, 60, 120, 120;

	@media (max-width: 767px) {
		padding-inline: unset;
	}
}

.caption {
	@mixin font-text20;
	color: var(--gray-500-color);
	align-items: center;
	text-align: center;
	@mixin responsive padding-block-start, 15, 20, 20;
}
