.root {
	display: flex;
	flex-direction: row;
	@mixin responsive gap, 24, 24, 24;

	@media (max-width: 767px) {
		display: none;
	}
}

.hy {
	@mixin font-text14;
}

html[data-header-top-color='white'] {
	.login {
		color: var(--gray-100-color);
	}
}

html[data-header-top-color='dark'] {
	.login {
		color: var(--black-color);
	}
}
