.root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin res padding-block-end, 4.267rem, 1.111rem, 1rem;
	@mixin font-h1;

	font-weight: 700;
}

.description {
	@mixin font-text18;

	color: var(--gray-600-color);

	&.withButton {
		@mixin res padding-block-end, 4.267rem, 1.111rem, 1rem;
	}
}
