.root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title,
.description {
	text-align: center;
}

.title {
	@mixin responsive padding-block-end, 16, 16, 16;
	@mixin font-h1;

	font-weight: 700;
}

.description {
	@mixin font-text18;

	color: var(--gray-600-color);

	&.withButton {
		@mixin responsive padding-block-end, 16, 16, 16;
	}

	@media (max-width: 767px) {
		padding-inline: 5.33rem;

		br {
			display: none;
		}
	}
}
