.root {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CD001E;
	color: #fff;
	@mixin responsive padding-block-start, 65, 65, 65;
	@mixin responsive padding-block-end, 84, 84, 84;
}

.serve {
	display: inline-flex;
	align-items: center;
	@mixin font-h2;
	font-weight: 600;
	color: #fff;
}

.animationText {
}
