.text {
	@mixin font-h2;
	font-weight: 600;
	display: inline-flex;

	@media (min-width: 768px) and (max-width: 899px) {
		font-size: 23px !important;
	}
}

.cursor {
	display: inline-block;
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
