.text {
	@mixin font-h2;
	font-weight: 600;
	display: inline-flex;

	@media (max-width: 767px) {
		@mixin font-h4;
		font-weight: 600;
	}
}

.cursor {
	display: inline-block;
	animation: blink 1s step-start infinite;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
