.root {
	position: relative;
}

.input {
	@mixin res padding, 4.267rem, 1.111rem, 1rem; /* 16px */
	@mixin res border-width, 0.267rem, 0.069rem, 0.063rem; /* 1px */
	@mixin res border-radius, 3.2rem, 0.833rem, 0.75rem; /* 12px */
	@mixin font-text16;

	border-style: solid;
	border-color: var(--gray-300-color);
	outline: none;

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0px 1000px #2256cf00 inset;
		-webkit-text-fill-color: inherit;
		@mixin transition background-color, 5000s;
	}

	&.withIcon {
		@mixin responsive padding-inline-start, 40, 50, 50;
	}
}

.leftIcon {
	@mixin responsive width, 16, 24, 24;
	@mixin responsive height, 16, 24, 24;
	@mixin responsive margin-inline-start, 16, 16, 16;

	position: absolute;
	top: 50%;
	translate: 0% -50%;
}

.label {
	@mixin font-text14;
	@mixin responsive padding-block-end, 6, 6, 6;

	display: block;
	font-weight: 700;
}

.error,
.required {
	color: var(--red-600-color);
}

.error {
	@mixin font-text14;
	@mixin responsive padding-block-start, 6, 6, 6;
	display: block;

	font-weight: 600;
}
