.root {
	position: relative;
}

.inputWrap {
	position: relative;
}

.input {
	@mixin responsive padding, 16, 16, 16;
	@mixin responsive border-width, 1, 1, 1;
	@mixin responsive border-radius, 12, 12, 12;
	@mixin font-text16;

	border-style: solid;
	border-color: var(--gray-300-color);
	outline: none;

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0px 1000px #2256cf00 inset;
		-webkit-text-fill-color: inherit;
		@mixin transition background-color, 5000s;
	}

	&.withIcon {
		@mixin responsive padding-inline-start, 40, 50, 50;
	}
}

.label {
	@mixin font-text14;
	@mixin responsive padding-block-end, 6, 6, 6;

	display: block;
	font-weight: 700;
}

.input::placeholder {
	color: transparent;
}

.error,
.required {
	color: var(--red-600-color);
}

.error {
	@mixin font-text14;
	@mixin responsive padding-block-start, 6, 6, 6;
	display: block;

	font-weight: 600;
}

.placeholder {
	@mixin font-text14;
	@mixin transitionOptions 0.2s;
	position: absolute;
	@mixin responsive left, 16, 16, 16;
	top: 50%;
	translate: 0% -50%;

	color: var(--gray-500-color);
	transition-property: transform, transform-origin;
}

.leftIcon + .placeholder {
	@mixin responsive left, 35, 52, 52;
}

.leftIcon {
	@mixin responsive width, 16, 24, 24;
	@mixin responsive height, 16, 24, 24;
	@mixin responsive margin-inline-start, 10, 16, 16;
	left: 0;
	z-index: 20;
	position: absolute;
	top: 50%;
	translate: 0% -50%;
}

.input:where(:focus, :not(:placeholder-shown)) + .leftIcon + .placeholder,
.input:where(:focus, :not(:placeholder-shown)) + .placeholder,
label:has([data-lastpass-icon-root]) .placeholder {
	transform-origin: 0 0;
	transform: translateY(-1rem) scale(0.75);

	@media (max-width: 767px) {
		transform: translateY(-4rem) scale(0.75);
	}
}
