.root {
	display: flex;
	flex-direction: column;
	background-color: var(--gray-200-color);
	@mixin responsive padding-block, 40, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
	@mixin responsive border-radius, 20, 32, 32;
	@mixin responsive margin-block, 20, 48, 48;
}

.title {
	@mixin font-h2;
	font-weight: 600;
	@mixin responsive padding-block-end, 5, 16, 16;
}

.description {
	color: var(--gray-600-color);
	@mixin font-text20;
	@mixin responsive padding-block-end, 20, 40, 40;
}
