.list {
	display: flex;
	flex-direction: column;
	@mixin responsive gap, 6, 6, 6;
}

.title,
.description {
	@media (max-width: 767px) {
		width: 100%;
		text-align: center;
		align-self: center;
	}
}

.title {
	@mixin font-text20;
	display: flex;
	color: var(--gray-100-color);
	gap: 0.5rem;
}

.description {
	@mixin font-text16;
	color: var(--gray-400-color);
	width: fit-content;
}
