.root {
	@mixin res padding-block-start, 9.6rem, 5rem, 4.5rem; /* 36px 72px */
	@mixin res padding-block-end, 16rem, 8.333rem, 7.5rem; /* 60px 120px */
}

.title {
	@mixin responsive padding-block-end, 20, 40, 40;
	@mixin font-h2;

	font-weight: 600;
	text-align: center;

	@media (max-width: 767px) {
		@mixin font-h3;
		font-weight: 600;
	}
}

.accordions {
	@mixin responsive gap, 16, 16, 16;

	display: flex;
	flex-direction: column;
}
