.description,
.text {
	@mixin responsive max-width, unset, 479, 560;
	height: fit-content;

	color: var(--gray-800-color);

	br {
		display: none;
	}

	@media (max-width: 767px) {
		br {
			display: block;
		}
	}

	@media (max-width: 470px) {
		font-size: 9px;
	}

	@media (min-width: 471px) {
		font-size: 12px;
	}

	@media (min-width: 690px) {
		font-size: 15px;
	}

	@media (min-width: 768px) {
		@mixin font-text16;
		max-width: 75rem;
	}
}

.description {
	@media (max-width: 767px) {
		text-align: end;
	}
}

.dotted {
	@mixin responsive margin-block-end, 4, 5, 5;

	line-height: 0;
	flex-grow: 1;
	border-bottom: 1px solid transparent;
	border-image: repeating-linear-gradient(
		to right,
		rgba(0, 0, 0, 0.3) 0 5px,
		transparent 5px 7px
	);

	border-image-slice: 1;
}
