.text {
	@mixin font-text16;
	@mixin responsive max-width, 170, 479, 560;
	height: fit-content;

	color: var(--gray-800-color);

	@media (max-width: 767px) {
		font-size: 10px;
	}
}

.dotted {
	@mixin responsive margin-block-end, 5, 5, 5;

	line-height: 0;
	flex-grow: 1;
	border-bottom: 1px solid transparent;
	border-image: repeating-linear-gradient(
		to right,
		rgba(0, 0, 0, 0.3) 0 5px,
		transparent 5px 10px
	);
	border-image-slice: 1;
}
