.root {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-block-end: 2.5rem; /* 40px */
	border-bottom: 1px solid #ebebeb;
}

.store {
	gap: 0.5rem; /* 8px */
}

.media {
	gap: 1rem; /* 16px */
}
