.root {
	@mixin responsive padding-block-start, 40, 96, 96;
	@mixin responsive padding-block-end, 36, 48, 48;
	@mixin responsive gap, 32, 64, 64;

	display: grid;
	grid-template-columns: 32.92% auto;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}
