.wrapper {
	@mixin responsive padding-block-end, 60, 120, 120;
	@mixin responsive gap, 32, 64, 64;

	display: grid;
	grid-template-columns: 32.92% auto;

	&.onlyShareholders {
		@mixin responsive padding-inline, 20, 150, 150;

		display: flex;
		padding-block: unset;

		.shareholders {
			width: 100%;
		}
	}

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 30, 48, 48;

	text-align: center;
	font-weight: 600;
}
