.root {
	@mixin responsive padding-block-end, 60, 120, 120;
	@mixin responsive gap, 32, 64, 64;
	@mixin responsive width, unset, 760, 760;

	display: flex;
	flex-direction: column-reverse;
	margin-inline: auto;

	&.onlyShareholders {
		@mixin responsive padding-inline, 20, 150, 150;

		padding-block: unset;

		.shareholders {
			width: 100%;
		}
	}
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 30, 48, 48;

	text-align: center;
	font-weight: 600;
}
