.root {
	@mixin responsive padding-block, 36, 72, 72;
}

.title {
	@mixin font-h2;
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem;

	font-weight: 700;
	text-align: center;
}

.placements {
	@mixin res padding-inline, 5.333rem, 7.778rem, 7.063rem;
	@mixin res gap, 6.4rem, 1.667rem, 1.5rem;

	@media (min-width: 1441px) {
		padding-inline: unset;
		margin-inline: auto;
		max-width: 75rem;
	}

	display: flex;
	overflow: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer & Edge */

	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari */
	}
}

.placement {
	flex-shrink: 0;
}
