.root {
	@mixin responsive padding-block, 36, 72, 72;
}

.title {
	@mixin font-h2;
	@mixin responsive padding-block-end, 20, 40, 40;

	font-weight: 700;
	text-align: center;
}

.placements {
	@mixin res padding-inline, 5.333rem, 7.778rem, 7.063rem;
	@mixin res gap, 6.4rem, 1.667rem, 1.5rem;

	@media (min-width: 1441px) {
		width: 90rem;
		margin-inline: auto;
		padding-inline: 7.4rem;
	}

	@media (max-width: 767px) {
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
	}

	position: relative;
	display: flex;
	overflow: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer & Edge */

	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari */
	}
}

.placement {
	flex-shrink: 0;

	@media (max-width: 767px) {
		scroll-snap-align: center;
	}
}

.rightOverlay {
	right: 0;
	background: linear-gradient(
		to left,
		rgba(243, 244, 245, 1) 0%,
		rgba(243, 244, 245, 0) 100%
	);
}

.leftOverlay,
.rightOverlay {
	@mixin responsive width, 74, 74, 74;

	height: 100%;
	z-index: 100;
	position: absolute;
	top: 0;

	@media (min-width: 1441px) {
		display: none;
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.leftOverlay {
	left: 0;
	background: linear-gradient(
		to right,
		rgba(243, 244, 245, 1) 0%,
		rgba(243, 244, 245, 0) 100%
	);
}

.rightOverlay {
	right: 0;
	background: linear-gradient(
		to left,
		rgba(243, 244, 245, 1) 0%,
		rgba(243, 244, 245, 0) 100%
	);
}

.container {
	position: relative;
}
