.root {
	display: flex;
	flex-direction: row;
	justify-content: end;
	@mixin responsive padding-block-end, 20, 40, 40;
	@mixin responsive max-width, unset, 497, 497;

	@media (max-width: 767px) {
		max-width: 100%;
	}
}

.avatar {
	@mixin responsive width, 56, 56, 56;
	@mixin responsive height, 56, 56, 56;
	@mixin responsive margin-inline-end, 10, 16, 16;
	flex-shrink: 0;
}

.img {
	width: 100%;
	height: 100%;
}

.textContent {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	@mixin responsive gap, 4, 6, 6;
	@mixin responsive padding-inline-end, 30, 64, 64;
}

.name {
	@mixin font-h6;
}

.position {
	@mixin font-text16;
	color: var(--gray-500-color);
}

.date {
	@mixin font-text16;
	color: var(--gray-600-color);
}
