.root {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@mixin res padding-block-end, 10.667rem, 2.778rem, 2.5rem; /* 40px */

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 13.333rem; /* 50px */
	}
}
