.root {
	align-items: baseline;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@mixin responsive padding-block-end, 30, 40, 40;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 7.333rem;
	}
}
