.root {
	display: flex;
	flex-direction: column;
}

.place {
	@mixin font-h1;
	@mixin responsive padding-block-end, 8, 8, 8;

	color: var(--red-500-color);
	font-weight: 500;
}

.title {
	@mixin font-text20;
	@mixin responsive padding-block-end, 8, 12, 12;

	font-weight: 600;
	color: var(--gray-100-color);

	@media (max-width: 767px) {
		br {
			display: none;
		}
	}
}

.description {
	@mixin font-text16;

	color: var(--gray-400-color);

	p {
		color: var(--gray-400-color);
	}
}

.place,
.title,
.description,
.description p {
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}
