.root {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@mixin responsive column-gap, unset, 24, 24;

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
		gap: 6.4rem; /* 24px */
	}
}
