.root {
	@mixin transition color;
	@mixin responsive gap, 8, 8, 8;
	@mixin font-text16;

	display: flex;
	align-items: center;
	width: fit-content;
	background-color: unset;
	border: unset;
	font-weight: 500;

	color: var(--red-500-color);

	&.opened .arrow {
		rotate: 0deg;
	}
}

@media (hover: hover) {
	.root:hover {
		color: var(--red-600-color);

		.arrow path {
			fill: var(--red-600-color);
		}
	}
}

.arrow {
	@mixin transition rotate;
	@mixin responsive width, 24, 24, 24;
	@mixin responsive height, 24, 24, 24;

	rotate: 180deg;

	path {
		@mixin transition fill;

		fill: var(--red-500-color);
	}
}
