.root {
	width: 83.33vw;
	margin-inline: auto;
	@mixin res width, 100%, 83.33vw, 75rem; /* 1200px */
	@mixin res margin-inline, unset, auto, auto;
	@mixin res padding-inline, 5.333rem, unset, unset; /* 20px */
}

.full {
	width: 100%;
	padding-inline: 0;
	max-width: unset;
	margin-inline: unset;
}
