.p-32 {
	@mixin responsive border-radius, 10, 32, 32;
	@mixin responsive padding-inline, 22, 32, 32;
	@mixin responsive padding-block, 22, 32, 32;
}

.p-40 {
	@mixin responsive border-radius, 10, 32, 32;
	@mixin responsive padding-block, 30, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
}

.hybrid {
	@mixin responsive border-radius, 10, 32, 32;
	@mixin responsive padding-block, 30, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
	@mixin res width, 100%, 83.33vw, 75rem; /* 1200px */
	@mixin res margin-inline, unset, auto, auto;
}

.default {
	width: 83.33vw;
	@mixin res margin-inline, unset, auto, auto;
	@mixin res width, 100%, 83.33vw, 75rem; /* 1200px */

	@media (max-width: 767px) {
		padding-inline: 5.333rem;
	}
}

.full {
	width: 100%;
	padding-inline: 0;
	max-width: unset;
	margin-inline: unset;
}
