.root {
	display: flex;
	flex-direction: column;
	@mixin responsive width, 282, 282, 282;
}

.date {
	@mixin font-h6;
	font-weight: 600;
}

.lineWrap {
	display: flex;
	align-items: center;
	position: relative;
	@mixin responsive width, 314, 314, 314;
}

.ball {
	display: block;
	border-radius: 50%;
	@mixin responsive margin-block, 30, 26, 26;
	@mixin responsive width, 10, 10, 10;
	@mixin responsive height, 10, 10, 10;
	background-color: var(--red-500-color);
}

.line {
	flex-grow: 1;
	@mixin responsive height, 2, 2, 2;
	background-color: var(--gray-300-color);
}

.description {
	@mixin font-text16;
	color: var(--gray-800-color);
}
