.root {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: all;

	@mixin res width, 100%, 96.667vw, 87.438rem;
	@mixin res margin-inline, unset, auto, auto;
	@mixin res padding-inline, 5.333rem, unset, unset;
	@mixin res height, 17.067rem, 5.556rem, 5rem; /* 64px 80px 80px*/
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.leftBlock {
	gap: 5.556rem; /* 80px */
}

.rightBlock {
	gap: 2.778rem; /* 40px */
}

.burger {
	display: inline-block;
	cursor: pointer;

	@media (min-width: 768px) {
		display: none;
	}
}
