.root {
	position: fixed;
	top: 0;
	color: var(--gray-100-color);
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: all;

	@mixin res width, unset, 96.667vw, 87.438rem;
	@mixin res margin-inline, unset, auto, auto;
	@mixin responsive left, 20, 24, 24;
	@mixin responsive right, 20, 24, 24;
	@mixin responsive top, 22, 22, 22;

	@media (max-width: 767px) {
		align-items: center;
	}
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.leftBlock {
	@mixin responsive gap, 80, 80, 80;
}

.rightBlock {
	@mixin responsive gap, 40, 40, 40;
}

.rightBlockHy {
	@mixin responsive gap, 40, 40, 13;
}

.burger {
	display: inline-block;
	cursor: pointer;

	@media (min-width: 768px) {
		display: none;
	}
}
