.root {
	position: fixed;
	top: 0;
	color: var(--gray-100-color);
	z-index: 100000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: all;

	@mixin res width, unset, 96.667vw, 87.438rem;
	@mixin res margin-inline, unset, auto, auto;
	@mixin res left, 5.333rem, 1.667rem, 1.5rem; /* 20px 24px 24px */
	@mixin res right, 5.333rem, 1.667rem, 1.5rem; /* 20px 24px 24px */
	@mixin res top, 5.867rem, 1.389rem, 1.25rem; /* 22px */
}

.leftBlock,
.rightBlock {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.leftBlock {
	gap: 5.556rem; /* 80px */
}

.rightBlock {
	gap: 2.778rem; /* 40px */
}

.burger {
	display: inline-block;
	cursor: pointer;

	@media (min-width: 768px) {
		display: none;
	}
}
