.root {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	background: linear-gradient(to right, #171717 0%, #333333 100%);
	@mixin res padding-inline, unset, 2.222rem, 2rem; /* 32px */
	@mixin res padding-block, unset, 2.222rem, 2rem; /* 32px */
}

.icon {
	@mixin res padding-block-end, 5.333rem, 2.778rem, 2.5rem; /* 20px 40px */
}

.description {
	@mixin font-h2;
	font-weight: 700;
}
