:root {
	--h1: 4.444rem; /* 64px */
	--h2: 2.778rem; /* 40px */
	--h3: 2.222rem; /* 32px */
	--h4: 1.667rem; /* 24px */
	--h5: 1.389rem; /* 20px */
	--h6: 1.25rem; /* 18px */
	--text20: 1.389rem; /* 20px */
	--text18: 1.25rem; /* 18px */
	--text16: 1rem; /* 16px */
	--text14: 0.972rem; /* 14px */
	--text12: 0.833rem; /* 12px */

	--h1-line-height: 1.12; /* 72px */
	--h2-line-height: 1.2; /* 48px */
	--h3-line-height: 1.25; /* 40px */
	--h4-line-height: 1.25; /* 30px */
	--h5-line-height: 1.3; /* 26px */
	--h6-line-height: 1.44; /* 26px */
	--text20-line-height: 1.6; /* 32px */
	--text18-line-height: 1.4; /* 26px */
	--text16-line-height: 1.5; /* 24px */
	--text14-line-height: 1.42; /* 20px */
	--text12-line-height: 1.5; /* 18px */

	@media screen and (max-width: 1440px) {
		--h1: clamp(
			2.222rem,
			-0.317rem + 4.762vi,
			4.444rem
		); /* from 32px to 64px */
		--h2: clamp(2.222rem, 1.587rem + 1.19vi, 2.778rem); /* from 32px to 40px */
		--h3: clamp(2.222rem, 2.222rem + 0vi, 2.222rem); /* from 32px to 32px */
		--h4: clamp(1.667rem, 1.667rem + 0vi, 1.667rem); /* from 24px to 24px */
		--h5: clamp(1.389rem, 1.389rem + 0vi, 1.389rem); /* from 20px to 20px */
		--h6: clamp(1.25rem, 1.25rem + 0vi, 1.25rem); /* from 18px to 18px */
		--text20: clamp(
			1.111rem,
			0.794rem + 0.595vi,
			1.389rem
		); /* from 16px to 20px */
		--text18: clamp(1.25rem, 1.25rem + 0vi, 1.25rem); /* from 18px to 18px */
		--text16: clamp(1.111rem, 1.111rem + 0vi, 1.111rem); /* from 16px to 16px */
		--text14: clamp(0.972rem, 0.972rem + 0vi, 0.972rem); /* from 14px to 14px */
		--text12: clamp(0.833rem, 0.833rem + 0vi, 0.833rem); /* from 12px to 12px */
	}

	@media screen and (max-width: 767px) {
		--h1-line-height: 1.25; /* 40px */
		--h2-line-height: 1.25; /* 40px */
		--h3-line-height: 1.25; /* 40px */
		--h4-line-height: 1.25; /* 30px */
		--h5-line-height: 1.3; /* 26 */
		--h6-line-height: 1.4; /* 26px */
		--text20-line-height: 1.5; /* 24px */
		--text18-line-height: 1.4; /* 25px */
		--text16-line-height: 1.5; /* 24px */
		--text14-line-height: 1.42; /* 20px */
		--text12-line-height: 1.5; /* 18px */
	}

	@media screen and (max-width: 767px) {
		--h1: 8.533rem; /* 32px */
		--h2: 6.4rem; /* 24px */
		--h3: 5.333rem; /* 20px */
		--h4: 4.8rem; /* 18px */
		--h5: 4.267rem; /* 16px */
		--h6: 4.267rem; /* 16px */
		--text20: 4.267rem; /* 16px */
		--text18: 4.267rem; /* 16px */
		--text16: 3.733rem; /* 14px */
		--text14: 3.733rem; /* 14px */
		--text12: 3.2rem; /* 12px */
	}
}

:root {
	--gray-100-color: #ffffff;
	--black-color: #212121;
	--gray-200-color: #f8f8f8;
	--gray-300-color: #ebebeb;
	--gray-400-color: #b9b9b9;
	--gray-500-color: #777777;
	--gray-600-color: #6b6b6b;
	--gray-700-color: #3e3e3e;
	--gray-800-color: #212121;
	--gray-900-color: #131313;
	--gray-1000-color: #000000;

	--red-50-color: #fef1e9;
	--red-100-color: #fde2d4;
	--red-200-color: #fbc0a9;
	--red-300-color: #f5937d;
	--red-400-color: #eb6a5b;
	--red-500-color: #df2c29;
	--red-600-color: #bf1d29;
	--red-700-color: #1f0808;

	--green-50-color: #eefde7;
	--green-100-color: #ddfbcf;
	--green-200-color: #b4f7a1;
	--green-300-color: #7fe86e;
	--green-400-color: #4fd148;
	--green-500-color: #17b31d;
	--green-550-color: #34ca2f;
	--green-600-color: #109922;
}

html {
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;

	@media (max-width: 1440px) {
		font-size: 1vw;
	}
	@media (min-width: 1441px) {
		font-size: 16px;
	}
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151515;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

.body {
	overscroll-behavior: none;
}

.p-32 {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-inline, 15, 32, 32;
	@mixin responsive padding-block, 15, 32, 32;
}

.p-40 {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-block, 20, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
}

.hybrid {
	@mixin responsive border-radius, 15, 32, 32;
	@mixin responsive padding-block, 20, 40, 40;
	@mixin responsive padding-inline, 20, 40, 40;
	@mixin res width, 100%, 83.33vw, 75rem; /* 1200px */
	@mixin res margin-inline, unset, auto, auto;
}

.default {
	width: 83.33vw;
	@mixin res margin-inline, unset, auto, auto;
	@mixin res width, 100%, 83.33vw, 75rem; /* 1200px */

	@media (max-width: 767px) {
		padding-inline: 5.333rem;
	}
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-size: 17px;
	line-height: 1.76;
	font-family: sans-serif;
}

ol,
ul {
	list-style: none;
	line-height: normal;
}

a {
	color: unset;
	text-decoration: none;
}

button {
	border: none;
	background: none;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	font: inherit;
	vertical-align: initial;
}

a,
button,
input,
label {
	-webkit-tap-highlight-color: transparent;
}
