.root {
	padding-block-start: 4.267rem; /* 16px */
	padding-block-end: 6.4rem; /* 24px */
	height: calc(100% - 17.567rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login,
.account,
.button {
	width: fit-content;
	font-weight: 600 !important;
	letter-spacing: -1% !important;
}

.button {
	@mixin responsive padding-block, 2, unset, unset;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 4.267rem; /* 16px */
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 4.267rem; /* 16px */
}

.li {
	width: fit-content !important;
	button {
		color: var(--gray-700-color) !important;
		font-weight: 600;
		@mixin responsive padding-block, 2, unset, unset;

		@media (hover: hover) {
			&:hover {
				color: var(--red-500-color) !important;
			}
		}
	}
	svg {
		path {
			@mixin transition;
			fill: var(--black-color);
			transition-property: fill;
		}
	}
}

.services ul {
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
}
