.root {
	@mixin responsive padding-block-end, 36, 72, 72;
	@mixin responsive gap, 30;

	display: grid;
	grid-template-columns: repeat(2, 50%);

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column-reverse;
	}
}

.form {
	@mixin responsive padding-inline, 20, 120, 120;

	@media (min-width: 1441px) {
		padding-inline-start: calc(8.333rem + (100vw - 1440px) / 2);
	}
}
