.root {
	@mixin responsive width, 588, 588, 588;

	background-color: var(--gray-200-color);
	height: 100%;

	@media (max-width: 767px) {
		width: 100%;
	}
}

.titleBlock {
	@mixin responsive gap, 16, 16, 16;
	@mixin responsive padding-block-end, 30, 24, 24;

	display: flex;
	align-items: center;
}

.avatarWrapper {
	@mixin responsive width, 90, 90, 90;
	@mixin responsive height, 90, 90, 90;

	border-radius: 100%;
	overflow: hidden;
	position: relative;
}

.avatar {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aboutEmployee {
	@mixin responsive gap, 4, 4, 4;

	display: flex;
	flex-direction: column;
}

.fullName {
	@mixin font-text20;

	font-weight: 600;
}

.position {
	@mixin font-text16;

	color: var(--gray-700-color);
}

.story {
	@mixin font-text18;

	color: var(--gray-700-color);

	@media (max-width: 767px) {
		@mixin font-text14;
	}
}
